p, a, div, h2 {
  font-family: 'BCSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0; }

.fc-day-grid-event .grid-view {
  display: block; }

.view-display-id-block_1 .list-row, .view-display-id-block_2 .list-row, .view-display-id-block_3 .list-row {
  box-shadow: 0px 0px 7px #ccc;
  margin-top: 3.5em;
  padding: 20px;
  padding-top: 25px; }

.list-view .sd-top {
  font-weight: bold;
  font-size: 20px;
  line-height: 110%; }

.list-view .sd-middle {
  font-size: 72px;
  line-height: 140%;
  color: #009cde; }

.fc-button-group {
  position: unset; }

.bottom-buttons.fc-button-group {
  display: inherit; }

.fc-toolbar.fc-header-toolbar {
  position: relative;
  margin-bottom: 3.5em; }

.fc-button-group .fc-button {
  color: #2e6ab0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  border: none; }
.fc-button-group .fc-button .fc-icon {
  font-size: 15px;
  width: 17px; }
.fc-button-group .fc-prev-button .fc-icon-chevron-left {
  background: url("../images/arrow-left.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 7px; }
.fc-button-group .fc-prev-button .fc-icon-chevron-left:before {
  content: none; }
.fc-button-group .fc-next-button .fc-icon-chevron-right {
  background: url("../images/arrow-right.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 7px; }
.fc-button-group .fc-next-button .fc-icon-chevron-right:before {
  content: none; }
.fc-button-group .fc-button-group > .fc-button:last-of-type {
  position: absolute;
  right: 0px; }
.fc-button-group .fc-button:hover {
  color: #1967e5f5;
  background-color: white;
  border: none; }

.list-view .right-side {
  color: #cccccc;
  margin-bottom: 20px; }

.list-view .right-side .ev-address {
  margin-bottom: 15px; }

.fc-day-number {
  color: #000000;
  font-weight: 600; }

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
  padding: 6px; }

.e-description p {
  color: #000000;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  padding: 15px 15px 25px 0px;
  margin: 0px; }

.list-view {
  padding-top: 30px; }

.e-sub-title {
  color: #767676;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px; }

.e-ta {
  line-height: 23px;
  font-weight: 400;
  color: #767676;
  font-size: 16px; }

.e-title {
  font-size: 21px;
  line-height: 35px;
  font-weight: 700;
  color: #333333; }

.ev-date div, .ev-address p {
  margin: 0px;
  font-weight: 400;
  color: #333333;
  font-size: 17px;
  line-height: 25px;
  padding-left: 10px;
  font-family: 'BCSans', sans-serif; }

.ev-address {
  background: url(../images/pin-location-icon.svg) no-repeat;
  background-size: 25px;
  padding-left: 50px;
  margin-left: 20px; }

.ev-date {
  background: url(../images/calendar-icon.svg) no-repeat;
  background-size: 30px;
  padding-left: 50px;
  background-position: center left; }

.sd-bottom {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px; }

.calendar .nav-tabs .nav-link {
  border-radius: 30px;
  padding: 0.1rem 1rem; }
.list-nav .nav-tabs{display: -webkit-inline-box;}
.nav-tabs {
  display: flex;
  justify-content: flex-end;
  font-family: 'BCSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: -webkit-inline-box;  }

.fc-toolbar h2 {
  font-size: 26px;
  font-weight: 600;
  margin-right: 100px; }

.fc-event {
  background-color: #e9f0f9 !important;
  border: none; }

.fc-event.active {
  background-color: #2e6ab0 !important; }

.pager__item pager__item--next a span {
  color: #000000; }

.fc-content span {
  font-weight: 500; }

.fc-time {
  color: #1967e5f5; }

.fc-day-grid-event .fc-content {
  white-space: unset;
  overflow: unset; }

.fc-event {
  font-size: 13px;
  line-height: 22px; }

.fc-title {
  font-size: 16px;
  line-height: 22px;
  color: #000000; }

.fc-unthemed td.fc-today {
  background: transparent; }

.fc-content {
  padding: 3px 7px; }

.fc-day-header {
  text-align: left;
  padding-left: 6px; }

.list-view .right-side .e-title {
  font-weight: bold;
  margin-bottom: 15px; }

.tab-pane {
  position: relative; }

.list-nav {
  text-align: right;
  margin-bottom: 30px; }

.list-nav .nav-tabs {
  border-radius: 25px;
  border: 1px solid #cccccc;
  display: inline-flex;
  padding: 1px 3px 2px; }

.fc-button-primary:not(:disabled).fc-button-active:focus, .fc-button-primary:not(:disabled):active:focus {
  border: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  background: inherit; }

.list-nav button {
  font-size: 17px;
  font-weight: 600;
  border: none;
  padding: 3px 20px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  display: inline-flex;
  align-items: center; }
.list-nav #nav-list-view-tab {
  margin-right: 10px; }
.list-nav svg {
  width: 16px;
  height: 16px;
  stroke-width: 3px;
  transition: all 0.5s ease-in-out; }
.list-nav svg circle, .list-nav svg rect {
  transition: all 0.5s ease-in-out; }
.list-nav i {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
.list-nav .calender_icon svg {
  stroke: #000000; }
.list-nav .calender_icon img {
  width: 18px;
  height: 16px; }
.list-nav .nav-link.active .calender_icon svg {
  fill: white;
  stroke: white; }
.list-nav .nav-link.active svg {
  fill: white; }

.calendar .nav-tabs .nav-item.show .nav-link, .calendar .nav-tabs .nav-link.active {
  background-color: #2e6ab0;
  border-color: transparent;
  color: white;
  font-family: 'BCSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px; 
  border-radius: 30px;
  padding: 0.1rem 1rem;
  }

.fc .fc-widget-header {
  border: none;
  color: #2e6ab0;
  font-size: 17px;
  font-weight: 600; }

.list-full-view .view-header h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  box-shadow: none;
  font-size: 30px;
  color: #333333;
  text-align: center;
  line-height: 45px; }

.pager__item {
  padding: 0px; }

.pager__item--next span, .pager__item--previous span {
  display: inline-block;
  line-height: 1;
  position: relative; }

.pager__item--next span {
  padding-right: 8px; }

.pager__item--next a span, .pager__item--previous a span {
  position: relative;
  font-family: 'BCSans', sans-serif; }

.fc-content .fc-time {
  display: none; }

.fc-view tr {
  background-color: white; }
.fc-view th {
  background-color: red; }

.pager__item--previous span {
  padding-left: 8px; }

.fc th {
  text-align: left;
  border: none; }

.fc-today-button, .fc-dayGridMonth-button {
  display: none; }

.tab-content {
  margin-bottom: 50px; }

.ev-date {
  position: relative; }

.ev-date::Before {
  position: absolute;
  right: -13px;
  top: 0px;
  height: 100%;
  width: 5px;
  background-color: #f2f2f2;
  content: ""; }

.list-view .sd-date-panel {
  max-width: 200px;
  border-bottom: 5px solid #1d4581;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 20px; }

.fc-list-view a:hover {
  color: inherit !important; }

.fc-list-view .fc-list-table td {
  padding: 30px 10px; }

.fc-list-view .grid-view {
  display: none; }

.fc-view-container .fc-list-table * {
  -webkit-box-sizing: border-box !important; }

.fc-list-view .list-view {
  display: block; }

table.fc-list-table tr td:nth-child(1) {
  display: none; }

table.fc-list-table tr td:nth-child(2) {
  display: none; }

.fc-day-grid-event .list-view {
  display: none; }

.pager {
  position: absolute;
  top: 11px;
  left: 0px;
  width: 100%; }
.pager2{
  display:inline-block;
  width:100%;
}
.pager2 .pager {
  position: relative;
  margin-top: 20px; }
.pager ul {
  text-align: right;
  display: inline-block;
  justify-content: space-between; }
.pager li a {
  color: #2e6ab0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out; }
.pager .pager__item a {
  color: #2e6ab0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  border: none; }
.pager .pager__item a:hover, .pager .pager__item a:hover span::before, .pager .pager__item a:hover span::after {
  color: #1967e5f5; }
.pager .pager__item.is-active {
  display: none; }
.pager .pager__item--next, .pager .pager__item--previous {
  display: inline-block;
  padding: 0px; }
.pager .pager__item--next {
  position: absolute;
  top: 0px;
  right: 0px; }

.bottom-buttons .list-view {
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 20px;
  padding: 20px;
  padding-top: 30px; }

.fc-view .fc-row table {
  margin-bottom: 5px; }
.fc-view tr, .fc-view th {
  background-color: white; }
.fc-view a {
  border: none; }
.fc-view a.fc-day-grid-event {
  border-bottom: 3px solid #e9f0f9; }
.fc-view a.fc-day-grid-event:hover, .fc-view a.fc-day-grid-event.active {
  border-bottom: 3px solid #2e6ab0 !important; }
.fc-view .fc td, .fc-view .fc th, .fc-view .fc-unthemed td {
  border: none;
  border-width: 0px; }
.fc-view thead > tr, .fc-view .fc-unthemed td {
  border: none;
  border-style: none;
  border-width: none;
  border-color: none; }
.fc-view .fc-content-skeleton {
  padding: 0px; }
.fc-view .fc-content-skeleton td {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-color: #d7d7d7; }
.fc-view .fc-content-skeleton table {
  height: 111px;
  margin: 0px; }
.fc-view .fc-scroller {
  height: unset !important;
  overflow: unset !important; }
.fc-view .fc-widget-content {
  border: 1px solid #d7d7d7;
  border-bottom: 0px; }
.fc-view .fc-week.fc-widget-content {
  border: 0px;
  border-bottom: 1px solid #d7d7d7; }
.fc-view a:hover, .fc-view a[data-goto]:hover {
  text-decoration: none;
  border: none; }
.fc-view .grid-title {
  font-size: 16px;
  color: #2e6ab0;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 3px; }
.fc-view .grid-sub-title {
  font-size: 15px;
  line-height: 24px; }
.fc-view .fc-event.active .grid-title, .fc-view .fc-event.active .grid-sub-title {
  color: #ffffff; }

.fc .fc-row .fc-content-skeleton td {
  border-color: #d7d7d7;
  border-bottom: 0px;
  border-top: 0px; }

.fc td.fc-today {
  border-style: none; }

.fc-content .fc-time {
  display: none; }

.bottom-buttons .list-view {
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 20px;
  padding: 20px;
  padding-top: 30px; }

.fc .fc-widget-header {
  border: none;
  color: #2e6ab0;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize; }

.fc-day-grid-event .grid-view {
  display: block; }

.fc-button {
  color: #0c1939;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  transition: all 0.5s ease-in-out; }

.fc-button .fc-icon {
  font-size: 15px;
  width: 17px; }

.fc-button-group > .fc-button:last-of-type {
  position: absolute;
  right: 0px; }

.fc-button:hover {
  color: #1967e5f5;
  background-color: white;
  border: none; }

.fc-day-number {
  color: #000000;
  font-weight: 600; }

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
  padding: 6px;
  font-size: 16px; }

.e-description p {
  color: #000000;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  padding: 15px 15px 25px 0px;
  margin: 0px; }

.list-view .right-side {
  color: #cccccc;
  margin-bottom: 20px; }

.list-view .right-side .ev-address {
  margin-bottom: 15px; }

.fc-day-number {
  color: #000000;
  font-weight: 600; }

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
  padding: 6px;
  font-size: 16px;
  font-weight: 400; }

.fc-day-grid-event .fc-content {
  white-space: unset;
  overflow: unset; }

.tab-content .fc-toolbar h2 {
  font-size: 30px;
  font-weight: 400;
  margin-right: 100px; }

.fc-event {
  background-color: #e9f0f9 !important;
  border: none;
  padding: 5px 2px; }

.fc-content span {
  font-weight: 500; }

.fc-event {
  font-size: 13px;
  line-height: 22px; }

.fc-title {
  font-size: 16px;
  line-height: 22px;
  color: #000000; }

.fc-unthemed td.fc-today {
  background: transparent; }

.fc-content {
  padding: 3px 7px; }

.fc-day-header {
  text-align: left;
  padding-left: 6px; }

.list-view .right-side .e-title {
  font-weight: bold;
  margin-bottom: 15px; }

.tab-pane {
  position: relative; }

/*# sourceMappingURL=main.css.map */
