@media  screen and (max-width:1199px){
    .ev-date::Before{
        right:-11px;
    }
    .ev-date div, .ev-address p{
        padding-left:12px;
    }
    .ev-address{
        background-size:7% 100%;
        padding-left:20px;
    }
    .ev-date{
        background-size:8% 100%;
        padding-left:20px;
    }
    .e-description p{
        padding: 5px 15px 20px 0px;
    }
}

@media  screen and (max-width:991px){
    .ev-date::Before{
        display:none;
    }
    .ev-address{
        background-size:4% 100%;
        padding-left:20px;
    }
    .ev-date{
        background-size:5% 100%;
        padding-left:20px;
        margin-bottom:20px;
    }
    .ev-date div, .ev-address p{
        padding-left:15px;
    }
    .e-title {
        font-size: 22px;
        line-height: 30px;
    }
    .list-view .right-side .e-title{
        margin-bottom:6px;
    }
    .list-view .right-side{
        margin-bottom:0px;
    }
    .view-header h2,.fc-toolbar h2{
        font-size: 22px;
    }

}
@media  screen and (max-width:767px){
    .right-side{
        margin-top:18px;
    }
    .list-view .sd-date-panel{
        margin-top:0px;
        padding-top:0px;
    }
    .e-title {
        font-size: 20px;
        line-height: 27px;
    }
    .ev-date div, .ev-address p {
        font-size: 16px;
        line-height: 23px;
    }
    .view-header h2 {
        font-size:20px;
    }
    .pager .pager__item a{
        font-size:15px;
    }
    .fc-toolbar h2{
        font-size: 22px;
        margin-right:110px;
    }


}
@media  screen and (max-width:500px){
    .pager{
        top:30px;
    }
    .view-header{
        margin-bottom:45px;
    } 
    .ev-address {
        background-size: 5% 100%;
    }
    .ev-date {
        background-size: 6% 100%;
    }
    .view-display-id-block_1 .list-row, .view-display-id-block_3 .list-row{
        padding:20px 15px;
    }
}
@media  screen and (max-width:400px){
    .ev-address {
        background-size: 7% 100%;
    }
    .ev-date {
        background-size: 9% 100%;
    }
    .list-view .sd-date-panel {
        max-width: 175px;
    }
    .list-view .sd-middle{
        font-size:58px;
        margin: 27px 0px;
    }
    .list-nav button{
        padding:3px 10px;
    }
    .pager__item--next span {
        padding-right: 10px;
    }
}
