@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin list-flex-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & > li {
    flex: 0 1 auto;
  }
}

@mixin list-item-separator-after($content, $padding) {
  position: relative; // start position context %navli
  &:not(:last-of-type) {
    padding-right: $padding; // make space for the :after

    &:after {
      content: $content;
      position: absolute; // relative to position context %navli
      right: 0;
      top: $padding;
    }
  }
}

@mixin text-footnote {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #8A8D8B;
}

@mixin text-article-date {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #8A8D8B;
}

@mixin underlined-header {
  $underline-size: 4px;

  position: relative; // begin positional context %underlineheader
  font-size: 2.8125rem;
  color: #333333;
  border-bottom: $underline-size;
  padding-bottom: $underline-size; 

  &:before {
    content: '';
    height: 4px;
    position: absolute; // relative to positional context %underlineheader
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index:-1;
    background-image: linear-gradient(to right, #D8E5F1 25%, #FFFFFF 100%);
  }
}