@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin list-flex-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & > li {
    flex: 0 1 auto;
  }
}

@mixin list-item-separator-after($content, $padding) {
  position: relative; // start position context %navli
  &:not(:last-of-type) {
    padding-right: $padding; // make space for the :after

    &:after {
      content: $content;
      position: absolute; // relative to position context %navli
      right: 0;
      top: $padding;
    }
  }
}

@mixin list-item-separator-after-minus-2($content, $padding) {
  position: relative; // start position context %navli
  &:not(:nth-last-of-type(-n+2)) {
    padding-right: $padding; // make space for the :after

    &:after {
      content: $content;
      position: absolute; // relative to position context %navli
      right: 0;
      top: $padding;
    }
  }
}
