$workbc_min_width: 360px;
$workbc_article_width: 768px;

$workbc_trim_standard_size: 6px;
$workbc_trim_thin_size: 4px;
$workbc_trim_ultra_thin_size: 3px;

$workbc_spacing_default: 30px;
$workbc_spacing_gutters: 20px;


$workbc_palette_transparent: transparent;

$workbc_palette_dark_default: #333333;

$workbc_palette_dark_primary: #002857;
$workbc_palette_dark_secondary: #2E6AB0;
$workbc_palette_dark_tertiary: #029CDD;

$workbc_palette_light_primary: #FFFFFF;
$workbc_palette_light_secondary: #f2f2f2;
$workbc_palette_light_tertiary: #9D9D9D;
$workbc_palette_light_highlight: #E7BF3E;

$workbc_palette_shadow_primary: rgb(0 0 0 / 15%);

$workbc_palette_alert_primary: rgba(121, 29, 95, 1);


$workbc_default_text: $workbc_palette_dark_default;
$workbc_default_link: $workbc_palette_dark_secondary;
$workbc_default_box_shadow: 0px 0px 15px 0px $workbc_palette_shadow_primary;
$workbc_default_bottom_shadow: 0px 5px 10px -5px $workbc_palette_shadow_primary;
$workbc_default_inset_bottom_shadow: inset 0px -10px 10px -10px $workbc_palette_shadow_primary;

$workbc_dark_theme_background: $workbc_palette_dark_primary;
$workbc_dark_theme_text: $workbc_palette_light_primary;
$workbc_dark_theme_trim: $workbc_palette_light_highlight;

$workbc_light_theme_background_default: $workbc_palette_light_primary;
$workbc_light_theme_background_accent: $workbc_palette_light_secondary;
$workbc_light_theme_text: $workbc_default_text;
$workbc_light_theme_link: $workbc_palette_dark_secondary;
$workbc_light_theme_trim: $workbc_palette_light_highlight;
$workbc_light_theme_trim_alternate: $workbc_palette_dark_secondary;

$workbc_alertribbon_background: $workbc_palette_alert_primary;
$workbc_alertribbon_text: $workbc_palette_light_primary;


$workbc_text_default_size: 16px;


$workbc_text_footnote_size: 0.9375rem;
$workbc_text_footnote_lineheight: 1.5rem;
$workbc_text_footnote_color: #8A8D8B;

// home page hero container and image
$workbc_home_hero_container_height: 499px;
$workbc_home_hero_raw_image_aspect_ratio: calc(987 / 658);
$workbc_home_hero_image_height: $workbc_home_hero_container_height - $workbc_trim_ultra_thin_size;
$workbc_home_hero_image_width: calc($workbc_home_hero_image_height * $workbc_home_hero_raw_image_aspect_ratio);


// primary hero container and image
$workbc_hero_container_height: 400px;
$workbc_hero_raw_image_aspect_ratio: calc(1200 / 800);
$workbc_hero_image_height: $workbc_hero_container_height - $workbc_trim_ultra_thin_size;
$workbc_hero_image_width: calc($workbc_hero_image_height * $workbc_hero_raw_image_aspect_ratio);

