<div class="row career-trek-row m-0">
    <div class="video-button">
      <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.625 2.25C2.99219 2.25 2.5 2.8125 2.5 3.375V23.625C2.5 24.2578 2.99219 24.75 3.625 24.75H7C7.5625 24.75 8.125 24.2578 8.125 23.625V3.375C8.125 2.8125 7.5625 2.25 7 2.25H3.625ZM0.25 3.375C0.25 1.54688 1.72656 0 3.625 0H7C8.82812 0 10.375 1.54688 10.375 3.375V23.625C10.375 25.5234 8.82812 27 7 27H3.625C1.72656 27 0.25 25.5234 0.25 23.625V3.375ZM16 2.25C15.3672 2.25 14.875 2.8125 14.875 3.375V23.625C14.875 24.2578 15.3672 24.75 16 24.75H19.375C19.9375 24.75 20.5 24.2578 20.5 23.625V3.375C20.5 2.8125 19.9375 2.25 19.375 2.25H16ZM12.625 3.375C12.625 1.54688 14.1016 0 16 0H19.375C21.2031 0 22.75 1.54688 22.75 3.375V23.625C22.75 25.5234 21.2031 27 19.375 27H16C14.1016 27 12.625 25.5234 12.625 23.625V3.375Z" fill="white"/>
      </svg>
    </div>
    <div class="col-lg-4 p-lg-0">
        <div class="hero-content-container">
          <div class="hero-content-wrapper">
            <h1 class="hero-title">
              {{ fields.field_banner_title.content }}
            </h1>
            <div class="hero-content">
              {{ fields.field_banner_description.content }}
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-8 p-0">
        <div class="hero-image-wrapper">
          <div class="hero-video">
              {{ fields.field_banner_video.content }}
          </div>
        </div>
    </div>

</div>





