<div class="hero-image-wrapper">
  {{ fields.field_banner_video.content }}
</div>
<div class="hero-content-container container-lg">
  <div class="hero-content-wrapper">
    <h1 class="hero-title">
      {{ fields.field_banner_title.content }}
    </h1>
    <div class="hero-content">
      {{ fields.field_banner_description.content }}
    </div>
  </div>
</div>


