{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="hero-banner">

   <div class="hero-image-wrapper">
      <div class="hero-image-overlay"></div>
      {{ fields.field_hero_image.content }}
   </div>

   <div class="container-lg">
      <div class="hero-content-wrapper">
         <div class="hero-title">
            <h1>{{ fields.title.content }}</h1>
         </div>
         <div class="hero-content">
            {{ fields.field_hero_text.content }}
         </div>
      </div>
   </div>
</div>



{#
 <div class="hero-banner">
   <div class="view-content">
       <div class="views-row">
         <div class="hero-image-wrapper">
            <div>
               <div class="hero-image-wrapper">
                  <div class="hero-image-overlay"></div>
                  <img loading="lazy" src="/sites/default/files/styles/feature_component/public/2022-07/workbc_resources_for_women_hero_banner.png?itok=YJHb1kPf" width="580" height="300" alt="Smiling firefighter holding their helmet in front of a firetruck" typeof="Image" class="img-fluid image-style-feature-component">
               </div>
            </div>
         </div>
         <div class="views-field views-field-title container d-flex">
            <h1 class="field-content">Women</h1>
         </div>
         
         <div class="views-field views-field-field-hero-text container d-flex">
            <div class="field-content">
               <p>A variety of programs and resources provide help for women who are looking for employment, ranging from mentoring in business development to training in the trades.</p>
               <p>If you are looking for new employment or want to advance in your career, the resources here can help you find work that offers job satisfaction and independence.</p>
            </div>
         </div>
      </div>
   </div>
</div>
#}
