.jobs-data {
  max-width:280px;
  margin-bottom:30px;
}
.block-workbc-jobboard h2{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom:10px;
  font-size:21px;
  line-height: 23px;
}
.jobs-data .job-title.card-plain__title {
  text-transform:capitalize;
  margin-bottom:5px;
}
.jobs-data .sub-title{
  margin-top:5px;
  margin-bottom:20px;
  font-size:18px;
  font-weight:500;
}
.jobs-data .job-box.item {
  position: relative;
}
.jobs-data .job-company {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.jobs-data .job-location {
    margin-bottom: 20px;
}
.jobs-data .job-location span{
  margin-right:5px;
}
.jobs-data .job-location span img, .jobs-data .sub-title span svg{
  margin-top:-4px;
}
.jobs-data .job-post-date label {
  display: inline-block;
  margin-right: 10px;
}
.jobs-data .job-post-date {    
  font-family: 'BCSans';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #8A8D8B;
  position: absolute;
  bottom: 12px;
}
.jobs-data a.more-jobs{
 width:100%;
 text-align:center;
}
@media screen and (min-width: 1024px) {
  .jobs-data-horizontal-view{
    width: 100%;
    max-width: 100%;
  }
  .page-node-type-workbc-centre .block-workbc-jobboard h2{
    width:100%;
    margin:auto;
    text-align:center;
  }
  .jobs-data-horizontal-view .sub-title{
    display:none;
  }
  .jobs-data-horizontal-view .job-location{
    font-size:16px;
  }
  .jobs-data-horizontal-view .cards-grid{
    max-width:100%;
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    margin-top:20px;
  }
  .jobs-data-horizontal-view .cards-grid .card-plain{
    flex: 1 0 21%;
    margin: 5px;
    height: 100px;
  }
  .jobs-data-horizontal-view .more-jobs {
    text-align: center;
    margin-bottom: 20px;
  }
  .jobs-data-horizontal-view .more-jobs a{
    margin:auto;
    text-align:center;
    width:auto;
  }
}
/*
 *  Styles below apply to the embedded Job Board app
 *
*/
app-root .breadcrumbs{display:none;}
app-root input[type=checkbox],app-root input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    opacity: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    width: 0;
    position: absolute;
}
app-root .job-search-contain .icon-wrap, app-root .job-search-contain .icon-wrap.small, app-root .modal .icon-wrap.small,app-root .account-contain .icon-wrap, app-root .modal .icon-wrap {display:inline-block;}
app-root .account-contain app-account-dashboard .card .btn{margin:0px;}