.jobs-data {
  max-width:280px;
  margin-bottom:30px;
}
.block-workbc-jobboard h2{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.15rem;
  margin-bottom:10px;
  font-size:21px;
  line-height: 23px;
}
.jobs-data .job-title.card-plain__title {
  text-transform:capitalize;
  margin-bottom:5px;
}
.jobs-data .sub-title{
  margin-top:5px;
  margin-bottom:20px;
  font-size:18px;
  font-weight:500;
}
.jobs-data .job-box.item {
  position: relative;
}
.jobs-data .job-company {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 500;
}
.jobs-data .job-location {
    margin-bottom: 20px;
}
.jobs-data .job-location span{
  margin-right:5px;
}
.jobs-data .job-location span img, .jobs-data .sub-title span svg{
  margin-top:-4px;
}
.jobs-data .job-post-date label {
  display: inline-block;
  margin-right: 10px;
}
.jobs-data .job-post-date {    
  font-family: 'BCSans';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #8A8D8B;
  position: absolute;
  bottom: 12px;
}
.jobs-data a.more-jobs{
 width:100%;
 text-align:center;
}
