#feedback_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.feedback_box {
  flex-shrink: 0;
  font-family: "BC Sans";
  width: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #474543;
  font-family: "BC Sans";
  line-height: normal;
  position: relative;
}
.feedback_head {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background: #053662;
  color: white;
}
.feedback_head h3 {
  margin: 0;
  padding: 10px 20px;
}
.feedback_body {
  width: 100%;
  margin: 0;
}
.feedback_body h4 {
  padding: 20px 20px;
  margin: 0;
}
.feedback_action {
  width: 100%;
  margin: 0;
  text-align: center;
  border-spacing: 0;
}
.feedback_thankyou {
  text-align: center;
}
.feedback_item {
  cursor: pointer;
  width: 50%;
  padding: 10px;
  border-top: 1px solid #474543;
}
.feedback_item.first {
  border-right: 1px solid #474543;
}
.feedback_selected {
  padding: 20px 20px;
  text-align: center;
}
.feedback_list {
  padding: 20px 20px;
  margin: 0;
}
.icon {
  font-size: 3em;
}
.red { color: rgb(255, 0, 0); }
.selected { font-size: 130%; cursor: auto; }
button.feedback_list_item {
  border: 0.6px solid #9F9D9C;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  padding: 5px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.feedback_list_item.button_selected { background: grey;}

div.feedback_submit { width: 100%; margin-top: 1em;}
.feedback_back {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: inline-block;
}
button.feedback_submit_button {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 5px 10px;
  background: #053662;
  border-radius: 5px;
}
.feedback_corner {
  position: absolute;
  top: 12px;
  right: 12px;
}
