.career-forecasted-by-industry-not-available {
  display:flex;
  justify-content: center;
  padding-bottom: 45px;
}

.career-skills-not-available,
.career-occupational-interests-not-available {
  display:flex;
  justify-content: center;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 10px;
}