
.industry-profile-table tr {
  &:nth-child(2n) td {
    background-color: $workbc_palette_light_primary;
  }
}

.industry-profile-table td {
  &:not(:last-of-type) {
    border-right: none;
  }
}

.industry-profile-table-value {
  font-weight: bold;
  color: #009CDE;
}

.industry-profile-table-header-right {
  text-align: right;
}

.industry-profile-hoo-link {
  width:378px;
}

#latest-employment-trends {

  .card-profile__content-header {
    margin-bottom: 0;
  }

  span.card-profile__content-item {
    text-align: center;
    display: block;
    color: $workbc_palette_dark_tertiary;
    font-size: 40px;

    div {
      color: $workbc_default_text;
      font-size: 16px;
      margin-bottom: 20px;
    }

  }

  .card-profile__source {
    padding-top: 40px;
  }

}

.hourly-earnings-note {
  padding-bottom: 10px;
}

.card-profile__content-item table th.top-ten-job-openings {
  padding-right: 10px;
}


@include media-breakpoint-down(sm) {
  #industry-profile-interactive-map {
    .card-profile__content-item {
      display: block;
      width: 100%;
    }
  }
}

div#industry-profile-interactive-map {
  .card-profile {
    flex: auto;
  }
}


.industry-overview-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-bottom: 35px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.industry-overview-table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.industry-overview-table p {
  margin-bottom: 0px;
}

.industry-profile-hourly-earnings table td,
.industry-profile-employment-types table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
