.block-workbc-jobboard h2 {
  font-weight: 700;
  margin: 30px 0 10px 0;
  font-size: 21px;
  line-height: 23px;
}

.jobs-data {
  margin-bottom:30px;

  .job-title.card-plain__title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .sub-title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .job-box.item {
    position: relative;
    padding: 10px 20px 10px 20px;
  }

  .job-company {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .job-location {
    font-size: 15px;
    padding-bottom: 20px;

    span {
      margin-right: 10px;

      img, svg {
        margin-top: -4px;
      }
    }
  }

  .job-post-date {
    font-family: 'BCSans';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    bottom: 12px;

    label {
      display: inline-block;
    }
  }

  a.more-jobs{
    width: 100%;
    text-align: center;
    background: $workbc_palette_light_primary;
  }

  a.more-jobs:hover {
    background: $workbc_palette_light_secondary;
  }
}

.workbc-jobboard-save-profile {
  text-align: right;

  .save_career_profile {
    .form-submit {
      width: 28px;
      height: 28px;
      text-align: right;
      padding: 0 0 0 5px;
      background-image: url(../assets/images/save.svg);
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: 18px;
      background-color: #fff;
      outline: 0;
      color: transparent;
      overflow: hidden;
      visibility: hidden;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.nav-items .dropdown {
  .nav-item:not(:nth-last-of-type(-n+2)):after {
    display: none;
  }

  .dropdown-menu {
    margin-top: 15px !important;
    border: 2px solid #2e6ab0;
    min-width: 200px;
    left: -88px !important;

    &::before,
    &::after {
      bottom: 100%;
      right: 20px;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: #2e6ab0;
      border-width: 20px;
      margin-left: -20px;
    }

    &::after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #ffffff;
      border-width: 17px;
      margin-left: -17px;
      margin-right:3px;
    }

    .nav-item:active {
      background: none !important;
    }
  }
}

.view-id-video_library {
  margin-bottom: 2.4rem;

  .view-empty{
    margin: 2rem 0px 6rem;
  }

  .pagination {
    padding: 1rem 0 0;
  }

  #edit-recently-added {
    float: right;
  }

  #edit-recently-added,
  #edit-reset {
    @include btn-border;
    color: #2e6ab0;
    text-decoration: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 600px) {
  app-thank-you .form-group .resend-register-link-btn {
    width: 235px !important;
  }
}

@media screen and (min-width: 768px) {
  .workbc-jobboard-save-profile .save_career_profile .form-submit {
    width: auto;
    padding-right: 28px;
    color: #2e6ab0;
  }
}

@media screen and (min-width:940px) and (max-width:1199px) {
  app-root .user-info-container {
    flex: 0 0 30% !important;
  }
}

@media screen and (min-width: 1024px) {
  .jobs-data {
    max-width: 280px;
  }

  .jobs-data-horizontal-view {
    width: 100%;
    max-width: 100%;
  }

  .page-node-type-workbc-centre .block-workbc-jobboard h2 {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .jobs-data-horizontal-view .sub-title {
    display: none;
  }

  .jobs-data-horizontal-view .job-location {
    font-size: 16px;
  }

  .jobs-data-horizontal-view .cards-grid {
    max-width: 100%;
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .jobs-data-horizontal-view .cards-grid .card-plain {
    flex: 1 0 21%;
    margin: 5px;
    height: 100px;
  }

  .jobs-data-horizontal-view .card-plain__content {
    min-height: 220px;
  }

  .jobs-data-horizontal-view .more-jobs {
    text-align: center;
    margin-bottom: 20px;
  }

  .jobs-data-horizontal-view .more-jobs a {
    margin: auto;
    text-align: center;
    width: auto;
  }
}

/*
 *  Styles below apply to the embedded Job Board app
 *
*/
app-root {
  .breadcrumbs {
    display: none;
  }

  input[type=checkbox],
  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    opacity: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;
    width: 0;
    position: absolute;
  }

  .job-alerts-inner {
    input[type=radio] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      border: 0;
      opacity: 1;
      outline: 0;
      padding: 0;
      vertical-align: middle;
      width: auto;
      position: relative;
    }

    label {
      padding-left: 9px;
    }
  }

  .job-search-contain .icon-wrap,
  .job-search-contain .icon-wrap.small,
  .modal .icon-wrap.small,
  .account-contain .icon-wrap,
  .modal .icon-wrap {
    display: inline-block;
  }

  .account-contain app-account-dashboard .card .btn {
    margin: 0px;
  }
}

.job-search__form-container .form-radios {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.workbc-jobboard-search-form fieldset.form-item {
  border: 0px;
}

.workbc-jobboard-search-form fieldset.form-item .fieldset-wrapper{
  padding: 0px;
}

mat-dialog-container {
  .btn-close {
    background: none;
  }

  .terms-logo {
    display: none;
  }
}

.job-item .icon,
.job-details .icon {
  width: 12px;
}

.job-alert .icon {
  width: 16px;
}

.map-view .icon {
  width: 22.5px;
}

#PostingLanguage .form-check-label {
  padding-left: 25px;
}

.tooltip-icon .icon {
  width: 20px;
}

#location_tooltip {
  width: auto;
}

#jobNo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  img {
    width: 22px;
  }
}

.node--type-page.node--view-mode-jobboard {
  .hero-image-wrapper {
    width: 100%;

    &:before {
      background: none;
    }

    img {
      object-fit: cover;
    }
  }
}

p.blue-banner {
  background: #bcdced;
  padding: 20px 20px 20px 20px;
  margin: 0;

  a {
    font-weight: bolder;
    color: #234075;
  }
}

#block-workbc-jobboardloginheader {
  h2 {
    font-weight: bolder;
    padding-top: 1.5em;
    padding-bottom: 1em;
  }
}

#block-workbc-jobboardloginfooter {
  border: 1px solid #fff;
  box-shadow: 0 3.2px 7.2px 0 rgb(0,0,0,0.1);
  padding: 15px;
  margin: 20px 0 40px 0;

  p {
    margin-top: 25px;
    margin-bottom: 0px;
  }
}

#block-workbc-jobboardregisterheader {
  h2 {
    font-weight: bolder;
    padding-top: 1.5em;
    padding-bottom: 1em;
  }

  table {
    width: auto;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    td {
      font-size: 13.3px;
      padding: 20px 0 0 0;
      height: 160px;
      width: 160px;
      text-align: center;
      border: 1px solid #fff;
      box-shadow: 1px 1px 6px 0 rgb(0,0,0,0.1);

      &:nth-child(1) {
        color: #276207;
      }
      &:nth-child(2) {
        color: #CC4E11;
      }
      &:nth-child(3) {
        color: #013366;
      }
      &:nth-child(4) {
        color: #630083;
      }
      &:nth-child(5) {
        color: #305DA6;
      }

      p {
        margin: 10px 10px 0 10px;
      }
    }
  }
}

#block-workbc-jobboardregisterfooter {
}

app-root {
  app-filter {
    .job-search-filters .navbar {
      .navbar-toggler {
        margin-right: 0px;
      }

      .navbar-nav .nav-item > .dropdown-menu {
        z-index: 1;
      }
    }
  }

  app-login {
    .header-banner {
      display: none;
    }

    .header-banner--mobile {
      display: none;
    }

    .account-login {
      .login-form {
        .form-group.register {
          display: none;
        }
      }
    }
  }

  app-register {
    .header-banner {
      display: none;
    }

    .header-banner--mobile {
      display: none;
    }

    app-job-seeker {
      .account-ribbon {
        display: none;
      }
    }
  }
}

#menu-item-unlogged-login:before {
  padding-right: 0.5em;
  content: url('/modules/custom/workbc_jobboard/images/login.svg');
  vertical-align: -2px;
}

#menu-item-unlogged-register:before {
  padding-right: 0.5em;
  content: url('/modules/custom/workbc_jobboard/images/register.svg');
  vertical-align: -2px;
}

body.account {
  .hero-image-wrapper {
    height: auto;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      overflow: auto;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: none;
      }
    }

    img {
      display: block;
      width: 100%;

      @include media-breakpoint-up(lg) {
        z-index: 1;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .hero-content-container {
    margin-left: 200px;
    padding: 0;
    min-height: inherit;
  }

  .hero-content-wrapper {
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 40px;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-down(lg) {
    .hero-banner {
      display: none;
    }
  }

  .social-sharing-buttons {
    justify-content: right;
  }
}
