.webform-submission-form {

    @include media-breakpoint-up(lg) {
        padding-left: 20%;
    }

    .form-required:after {
        content: "(required)";
        color: $workbc_palette_light_tertiary;
        font-style: italic;
        width: auto;
        height: auto;
        vertical-align: baseline;
        background: none;
    }

    .form-item input[type=text],
    .form-item input[type=tel],
    .form-item input[type=number],
    .form-item input[type=email],
    .form-item input[type=checkbox],
    .form-item select {
        border-radius: 0;
        // color: $workbc_palette_dark_default;
        border: 2px solid $workbc_palette_dark_secondary;
    
        &:placeholder {
          color: $workbc_palette_light_tertiary;
        }
    } 

    .form-type-checkbox {
        .description {
            display: inline-block;
        }
    }

    #edit-phone-flexbox {

        & > .webform-flex {
            flex-basis: calc(100%/3);

            &:first-child {
                flex-basis: calc(100%/3 * 2);
            }
        }
    }
}