.webform-submission-form {
    margin-bottom: $workbc_spacing_default;

    .form-required:after {
        content: "(required)";
        color: $workbc_palette_light_tertiary;
        font-style: italic;
        width: auto;
        height: auto;
        vertical-align: baseline;
        background: none;
    }

    .form-item input[type=text],
    .form-item input[type=tel],
    .form-item input[type=number],
    .form-item input[type=email],
    .form-item input[type=checkbox],
    .form-item textarea,
    .form-item select {
        border-radius: 0;
        // color: $workbc_palette_dark_default;
        border: 2px solid $workbc_palette_dark_secondary;

        &:placeholder {
          color: $workbc_palette_light_tertiary;
        }
    }

    // using & > * to prevent sizing nested fields
    @include media-breakpoint-up(lg) {
        & > *:not(fieldset) {
            max-width: 50%;
        }

        & > .form-type-textarea {
            max-width: 75%;
        }
    }

    .form-type-checkbox {
        .description {
            display: inline-block;
        }
    }

    // clear out weird margin-based spacing that's causing issues, and leverage flex column-gap instead
    .webform-flexbox {
        margin-left: 0;
        column-gap: $workbc_spacing_default;

        & > .webform-flex .webform-flex--container {
            margin: 0;
        }
    }

    #edit-phone-flexbox {
       & > .webform-flex {
            flex-basis: calc(100%/3);

            &:first-child {
                flex-basis: calc(100%/3 * 2);
            }
        }
    }

    fieldset {
        border: none;

        .fieldset-wrapper {
            padding: 0;
        }
    }
}
