.region-profile-table {
  margin: 50px;
  width: auto;
}

.region-profile-table tr {
  &:nth-child(2n) td {
    background-color: $workbc_palette_light_primary;
  }
}

.region-profile-table td {
  padding: 3px;
  &:not(:last-of-type) {
    border-right: none;
  }
}

.region-profile-table-value {
  font-weight: bold;
  color: #009CDE;
}

.bc-profile-employment-region-footer {
  font-weight: bold;
  background-color: $workbc_palette_dark_tertiary;
  color: $workbc_dark_theme_text;
}

.bc-profile-employment-region-footer td {
  padding: 20px;
}

.bc-profile-employment-region-footer td {
  &:not(:last-of-type) {
    border-right: none;
  }
}

.bc-profile--employment-tooltip {
  background-image: url(../assets/images/info-tooltip-icon-white.svg);
}

.bc-profile--employment-tooltip-mobile {
  display: none;
  justify-content: flex-end;
}

.bc-profile--employment-tooltip-content {
  color: $workbc_light_theme_text;
  top: 32px;
}

.bc-profile--employment-tooltip-content em {
  font-weight: bold;
}

#bc-regional-employment-stats .card-profile__content {
  align-items: normal;
}

#bc-regional-employment-stats.card-profile {
  padding: 20px 0 20px 0;
}

#bc-regional-employment-stats h3 {
  text-align: center;
}

#bc-regional-employment-stats .card-profile__source {
  padding-left: 20px;
}

.employment-bc-ftpt-table table {

  td {
    padding: 0;
  }

  td.region-profile-table-value {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .bc-profile--employment-tooltip-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .employment-bc-ftpt-table {

    .region-profile-table {
      margin: 40px 0 0 0;
    }

    table td {
      padding-top: 1.5em;
    }
  }
}

@include media-breakpoint-down(md) {
  #bc-regional-unemployment-stats .bc-profile-mobile {
    padding-top: 20px;
  }
}


#block-workbc-content .hero-title h1 {
  font-size: 45px;
}

#labour_market_statistics-content .workbc-tooltip {
  top: -5px;
}

.bc-profile-link {
  padding-left: 10px;
  padding-bottom: 15px;
}