.card-profile {
  position: relative; // begin positional context %card-profile
  margin-bottom: 24px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding-bottom: 35px; // Extra padding to make room for absolutely positioned source
}

.card-profile__content {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
  }
}

.card-profile__statistic {
  padding: 30px;
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include media-breakpoint-up(lg) {
    flex-basis: 50%;
  }
  
  &:not(:last-of-type) {
    border-bottom: 4px solid $workbc_palette_light_secondary;

    @include media-breakpoint-up(lg) {
      border-bottom: none;
      border-right: 4px solid $workbc_palette_light_secondary;
    }
  }

  h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.card-profile__statistic-single {
  span {
    color: $workbc_palette_dark_tertiary;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.card-profile__statistic-table {
  display: table;

  .stat-row {
    display: table-row;
  }

  .stat-col {
    display: table-cell;
    padding: 6px 20px;
  }

  span {
    color: $workbc_palette_dark_tertiary;
    font-weight: bold;
  }
}

.card-profile__source {
  position: absolute;  // relative to positional context %card-profile
  bottom: 10px;
  left: 10px;

  font-size: 0.875rem;

  em {
    font-weight: bold;
    font-style: normal;
  }
}
