.card-w-icon {
  padding: 30px 20px 0px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);

}

.card-w-icon .row {
  --bs-gutter-x: 2.5rem;
}

.card-w-icon__icon {
  display: inline-block;
  width: 110px;
  height: 110px;

}

.card-w-icon__content {
  display: block;
}

.card-w-icon__icon svg {
  width: 100%;
  height: 100%;
}

.card-w-icon__title {
  margin-bottom: 25px;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-w-icon .purple {
  color: #880364
}

.card-w-icon .green {
  color: #216C06
}

.card-w-icon .blue {
  color: #229CDE
}

.card-w-icon .orange {
  color: #D95700
}

.card-w-icon .violet {
  color: #720D8E
}

.card-w-icon .navy {
  color: #002857
}

.card-w-icon__link {
  padding-top: 15px;
  @include link-chevron;
}

.card-w-icon__link-container {
  border-top: 1px solid #E8E9EA;
  padding-bottom: 15px;
  background-image: linear-gradient(#FFFFFF,#F2F8FC);
}

.card-w-icon__icon-spacer {
  display: inline-block;
  width: 110px;  
}