.career-profiles-search table {
  margin-bottom: 30px;
}

.career-profiles-search td.is-active {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.career-profiles-search  tbody tr td {
  padding: 20px 0;
}
