.cards-grid {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: grid;
    gap: 20px;
  }
}

.cards-grid-1-2 {
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards-grid-1-3 {
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards-grid-1-4 {
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
