$card-padding: 20px;

.card-profile {
  position: relative; // begin positional context %card-profile
  margin-bottom: 24px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding-top: $card-padding; // use padding to prevent the first items top margin from collapsing into the margin between cards
  padding-bottom: 65px; // Extra padding to make room for absolutely positioned source and associated whitespace

  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(lg) {
    flex-flow: row wrap;
  }
}

.card-profile__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1;

  @include media-breakpoint-up(lg) {
    flex: 1 1 100%;
  }
}

.card-profile__content-small {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  flex: 1 1;
  margin: $card-padding;

  @include media-breakpoint-up(lg) {
    flex-basis: 40%;
    flex-flow: column nowrap;
  }
}

.card-profile__content-divider {
  margin: $card-padding;
  border-bottom: 4px solid $workbc_palette_light_secondary;

  @include media-breakpoint-up(lg) {
    border-bottom: none;
    border-right: 4px solid $workbc_palette_light_secondary;
  }
}

.card-profile__content-header {
  position: relative; // begin positional context %content-header
  flex: 0 0;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: bold;
  margin-bottom: $card-padding;
}

.card-profile__content-tooltip {
  position: absolute; // relative to positional context %content-header  
  top: 0;
  bottom: 0;
  right: -40px;
}

// hacky style overrides on external content we have no direct control over
.card-profile__content-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex: 1 1;
  max-width: 100%;

  img { 
    max-width: 100%;
    margin: $card-padding 0;
  }
}

.card-profile__content-table {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex: 1 1;

  table {
    tr {
      td {
        border: none;
        background: none;
        padding: 6px $card-padding;

        &:last-of-type {
          color: $workbc_palette_dark_tertiary;
          font-weight: bold;
        }
      }
    }
  }
}

.card-profile__content-value {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  flex: 1 1;
  color: $workbc_palette_dark_tertiary;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.card-profile__content-tooltip {
  a.info-tooltip {
    display: inline-block;
  }
}

.card-profile__source {
  position: absolute;  // relative to positional context %card-profile
  bottom: $card-padding;
  left: $card-padding;
  font-size: 0.875rem;
  line-height: 0.875rem;

  em {
    font-weight: bold;
    font-style: normal;
  }
}

// .card-profile__header {
//   padding: $card-padding $card-padding 0 $card-padding;

//   h3 {
//     width: 100%;
//     margin: 0;
//     font-size: 1.125rem;
//     line-height: 1.125rem;
//     font-weight: bold;
//     text-align: center;
//   }
// }

// .card-profile__statistic {
//   padding: $card-padding;
//   flex: 1 1 100%;
//   display: flex;
//   flex-flow: column nowrap;
//   align-items: center;

//   @include media-breakpoint-up(lg) {
//     flex-basis: 50%;
//   }
  
//   &:not(:last-of-type) {
//     border-bottom: 4px solid $workbc_palette_light_secondary;

//     @include media-breakpoint-up(lg) {
//       border-bottom: none;
//       border-right: 4px solid $workbc_palette_light_secondary;
//     }
//   }
// }


// .card-profile__statistic-header {
//   margin-bottom: $card-padding;

//   h3 {
//     display: inline-block;
//     font-size: 1.125rem;
//     line-height: 1.125rem;
//     font-weight: bold;
//   }

//   a.info-tooltip {
//     display: inline-block;
//   }
// }

// .card-profile__statistic-single {
//   span {
//     color: $workbc_palette_dark_tertiary;
//     font-size: 2.5rem;
//     line-height: 2.5rem;
//   }
// }

