.card-w-icon {
  padding: 30px 20px;
  margin-bottom: 24px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  text-align: center;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-align: left;
    padding: 0;
  }
}

.card-w-icon__icon {
  display: inline-block;
  width: 110px;
  height: 110px;

  @include media-breakpoint-up(md) {
    display: block;
    flex: 0 1 20%;
    margin: 20px;
  }
}

.card-w-icon__content {
  padding: 40px 0;

  @include media-breakpoint-up(md) {
    flex: 0 1 70%;
  }
}

.card-w-icon__icon svg {
  width: 100%;
  height: 100%;
}

.card-w-icon__title {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-w-icon__link {
  @include link-chevron;
}
