.block-explore-careers-block {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  padding-bottom: 100px;
  background-color: $workbc_palette_light_secondary;
  background-image: url(../assets/images/explore-careers-bg.png);
  background-repeat: repeat-x;
  background-position: 90% 100%;
  background-size: 60%;
  margin-bottom: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
    background-size: 52%;
    background-position: 90% 80%;
  }
}

.explore-careers__container {

  @include media-breakpoint-up(lg) {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.explore-careers__title-container {
  text-align: center;
  margin-bottom: 50px;
}

.explore-careers__title {
  margin-bottom: 20px;
  font-size: 2.25rem;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 2.813rem;
  }
}

.explore-careers__sub-title {
  font-size: 1.25rem;
}

.explore-careers__text {
  margin-bottom: 20px;
}

.explore-careers__search-container {
  @include media-breakpoint-up(lg) {
    display: flex;
    gap: 20px;
  }
}

.explore-careers__search-box {
  padding: 40px;
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 3px solid $workbc_palette_dark_secondary;
  box-shadow: 0px 0px 10px rgb(36, 36, 36, 0.2);
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.explore-careers__label {
  margin-bottom: 20px;
  font-size: 1.3125rem;
  font-weight: 700;
}

.explore-careers__cta a {
  @include btn-blue;
}

.explore-careers__search-box .search-form .form-submit,
.explore-careers__search-box .search-form .form-control {
  border: 2px solid $workbc_palette_dark_secondary;

  &:focus::placeholder {
    color: #212529;
  }
}

.explore-careers__search-box .search-form .form-control {
  border-right: none;
}

.explore-careers__search-box .search-form .form-submit {
  border-left: none;
}
