.plan-careerexplore-careerscareer-profilessearch {
  #block-bettersocialsharingbuttons {
    background-color: $workbc_palette_light_secondary;
  }

  .node-page-content {
    display: none;
  }

}

.view-id-explore_careers {

  .explore-careers-filter {
    background-color: $workbc_palette_light_secondary;
  }

  .view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: start;
    }
  }

  .view-header-links {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .view-header-link {
      @include media-breakpoint-down(lg) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    a {
      padding-left: 25px;
      text-decoration: underline;

      @include media-breakpoint-down(lg) {
        padding-left: 0px;
      }
    }
  }

  .views-exposed-form .form--inline {
    position: relative;

    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
  }

  label {
    display: block;
  }

  .form-control {
    border: 2px solid $workbc_palette_dark_secondary;
    border-radius: 0;
    line-height: 1.95;
  }

  .form-item {
    margin-right: 0;
  }

  .form-item-keyword-search {
    display: grid;
    grid-column-end: span 4;
    width: 50%;
    // margin-right: 20px;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .form-item-term-node-tid-depth {
    display: grid;
    grid-column-end: span 2;
    // width: 50%;

    // @include media-breakpoint-down(lg) {
    //   width: 100%;
    // }
  }

  // .form-item-field-epbc-categories-target-id {
  #category-container {
    display: grid;
    grid-column-end: span 2;
    // width: 50%;

    // @include media-breakpoint-down(lg) {
    //   width: 100%;
    // }
  }

  .form-item-field-teer-value {
    display: grid;
    grid-column-end: span 2;
    // width: 50%;

    // @include media-breakpoint-down(lg) {
    //   width: 100%;
    // }
  }

  .form-item-field-annual-salary-value {
    display: grid;
    grid-column-end: span 1;
    // width: 25%;
    // padding-left: 1%;

    // @include media-breakpoint-down(lg) {
    //   width: 100%;
    //   padding-left: 0px;
    // }
  }

  .form-item-delta {
    display: grid;
    grid-column-end: span 1;
    // width: 25%;
    // padding-left: 1%;

    // @include media-breakpoint-down(lg) {
    //   width: 100%;
    //   padding-left: 0px;
    // }
  }

  #edit-actions--2 {
    display: flex;
    grid-column-end: span 4;
  }

  .form-item-sort-bef-combine {
    position: absolute;
    right: 0px;
    bottom: -140px;
    width: 40%;

    @include media-breakpoint-down(lg) {
      left: 0px;
      bottom: -210px;
      width: 100%;
    }
  }

  .career-profiles-found-title {
    @include gradient-underline;
    margin-bottom: $workbc_spacing_default;
    font-size: 2rem;
    width: 50%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  #edit-reset-explore-careers {
    @include btn-border;
    color: #2e6ab0;
    text-decoration: none;
    background-color: $workbc_palette_light_primary;
    padding: 10px 64px;

    @include media-breakpoint-down(lg) {
      padding: 10px 10px;
    }
  }

  .form-submit {
    @include media-breakpoint-down(lg) {
      padding: 10px 10px;
    }
  }

  .explore-careers-sort {
    padding-top: 15px;
    padding-bottom: 60px;

    @include media-breakpoint-down(lg) {
      padding-bottom: 90px;
    }
  }



  .views-row {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    margin-bottom: 25px;
    padding: 25px 20px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    a {
      @include btn-blue;
      padding: 10px 35px;
    }

    .card-left {
      width: 50%;
      margin-right: 10px;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }

      .career-profile-link {
        margin-top: auto;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }

    .card-right {
      width: 50%;
      margin-left: 10px;

      @include media-breakpoint-down(lg) {
        width: 100%;
        margin-left: 0px;
      }

      .card-stats-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-down(lg) {
          align-items: start;
          margin-top: 10px;
        }
      }

      img {
        width: 42px;
        height: 42px;
        margin: 10px 20px;

        @include media-breakpoint-down(lg) {
          margin-top: 0px;
          margin-left: 0px;
        }
      }

      .career-profile-link {
        display: none;
        margin-top: auto;
        padding-top: 25px;

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }

    .field-content {
      font-weight: bold;
    }
  }




}