.footer__translate_container {
  width: 390px;

  @include media-breakpoint-down(sm) {
    width: 300px;
  }
}

.footer__translate {
  display: flex;
  gap: 10px
}

.footer__translate__label {
  text-align: right;
  font-size: .9375rem;
}

.footer__translate-select select {
  color: $workbc_palette_dark_default;
  border-radius: 0;
  padding: 3px 10px;
}

.footer__translate_disclaimer {
  font-size: 13px;  

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }  
}

.g-translate-text {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.g-tranlate-logo {
  display: block;
  width: 70px;
  height: 30px;
  font-size: 0;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 65%;
  background-image: url(../assets/images/google-logo.svg);
}

.footer__translate .goog-logo-link,
.footer__translate .skiptranslate.goog-te-gadget {
  color: #fff !important;
}

.skiptranslate .title.gray {
  color: #000 !important;
}
