.order-form {
  padding: 40px 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgb(219 219 219);
}

.order-form legend {
  display: none;
}

.order-form fieldset.form-item > .fieldset-wrapper {
  padding: 0;
}

.order-form fieldset.form-item {
  border: none;
}

.order-form {
  @include media-breakpoint-up(lg) {
    & > *:not(fieldset) {
      max-width: 50%;
    }

    & > .form-type-textarea {
      max-width: 75%;
    }
  }
}
