.block-simple-blockcontact-us-french-link {
  padding: 15px 0;
  text-align: center;
  background-color: $workbc_palette_light_secondary;
}

.block-simple-blockcontact-us-french-link p {
  margin: 0;
}
