.hero-banner {
    $hero_banner_height: 420px;
    z-index: 1;

    height: $hero_banner_height;
    border-bottom: $workbc_trim_ultra_thin_size solid $workbc_palette_dark_secondary;
    background-color: $workbc_light_theme_background_accent;

    @include media-breakpoint-up(lg) { 
        position: relative; // start positional context %herobanner
    }    

    .hero-image-wrapper {
        .hero-image-overlay {
            @include media-breakpoint-up(lg) { 
                position: absolute; // relative to positional context %herobanner
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;

                height: $hero_banner_height;
                width: calc(2*$hero_banner_height);

                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba($workbc_light_theme_background_accent,1) 10%, rgba($workbc_light_theme_background_accent,0) 50%);

                border-bottom: $workbc_trim_ultra_thin_size solid $workbc_palette_dark_secondary; // need to copy the container trim since we're sitting over top of the container
            }
        }

        img {
            @include media-breakpoint-up(lg) { 
                position: absolute; // relative to positional context %herobanner
                z-index: 0;
                top: 0;
                right: 0;
                bottom: 0;

                height: $hero_banner_height;
                width: calc(2*$hero_banner_height);
            }
        }
    }

    .views-field-title {
        .field-content {
            flex: 0 1 50%;
            padding-top: calc(2 * $workbc_default_spacing);
        }
    }

    .views-field-field-hero-text {
        .field-content {
            flex: 0 1 50%;
            padding-top: $workbc_default_spacing;
        }
    }
}