.hero-banner {
  position: relative; // create positional context %herobanner
  z-index: 1;
  border-bottom: $workbc_trim_ultra_thin_size solid
    $workbc_palette_dark_secondary;
  background-color: $workbc_light_theme_background_accent;

  @include media-breakpoint-up(lg) {
    min-height: 400px;
  }
}

.hero-image-wrapper {
  max-height: 330px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    max-height: none;
    overflow: auto;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(
        90deg,
        rgba($workbc_light_theme_background_accent, 1) 10%,
        rgba($workbc_light_theme_background_accent, 0) 50%
      );
    }
  }
}

.hero-image-wrapper img {
  display: block;
  width: 100%;

  @include media-breakpoint-up(lg) {
    height: 100%;
    object-fit: cover;
  }
}

.hero-content-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up(lg) {
    padding-top: 80px;
  }
}

.hero-content-wrapper {
  @include media-breakpoint-up(lg) {
    width: 50%;
    max-width: 640px;
  }
}

.hero-title {
  font-size: 2.25rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
    font-size: 2.813rem;
  }
}

.hero-title-card .basic-page-header {
  margin-bottom: 0;
}

.hero-noc {
  flex: 0 0;
  color: #6e6e6e;
  margin-bottom: $workbc_spacing_default;
}

.hero-subtitle {
  flex: 0 0;
  color: #6e6e6e;
  margin-bottom: $workbc_spacing_default;
  font-size: 1.313rem;
}

.hero-hoo {
  flex: 0 0;
  color: $workbc_palette_dark_secondary;

  @include media-breakpoint-up(lg) {
    align-self: flex-end;
  }
}

// Profile Hero Variations
.profile-header-banner.hero-banner {
  border-bottom: none;
}

.profile-header-banner .hero-content-wrapper {
  padding: 30px 20px 10px 20px;
  background: $workbc_palette_light_primary;

  @include media-breakpoint-up(lg) {
    max-width: 540px;
    border-bottom: $workbc_trim_ultra_thin_size solid
      $workbc_palette_dark_secondary;
    box-shadow: $workbc_default_box_shadow;
  }
}
