.view-high-opportunity-occupations .view-header {
  padding: 20px 20px 0px 20px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations .form--inline {
  display: grid;
  grid-template-columns: 50% 50%;
}


.view-high-opportunity-occupations .view-filters {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations .view-filters .form-select {
    border: 2px solid #2e6ab0;
    line-height: 2;
    border-radius: 0;
}

.view-high-opportunity-occupations .chosen-container-multi .form-select {
  border: 2px solid #2e6ab0;
}

.view-high-opportunity-occupations .chosen-container-multi .chosen-choices {
  border: none;
}

.view-high-opportunity-occupations .chosen-container-multi {
  width: 100% !important;
}

.view-high-opportunity-occupations .chosen-container-multi input.chosen-search-input {
  &::placeholder {
    color: $workbc_default_text;
  }
}

.view-high-opportunity-occupations .chosen-container-active .chosen-drop {
  border-color: black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0;
  left: -2px;
  top: 106%;
}

.view-high-opportunity-occupations .chosen-results {
  margin: 0px;
  padding-left: 0px;
}

.view-high-opportunity-occupations .chosen-container .chosen-results .active-result {
  border-radius: 0;
  padding-left: 15px;
}

.view-high-opportunity-occupations .view-footer {
  font-size: 0.875rem;
  line-height: 0.875rem;
}


.view-high-opportunity-occupations .hoo-content {
  padding: 40px 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px #dbdbdb;
}