.view-high-opportunity-occupations-2 .view-header {
  padding: 20px 20px 0px 20px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations-2 .form--inline {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
}


.view-high-opportunity-occupations-2 .view-filters {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations-2 .view-filters .form-select {
    border: 2px solid #2e6ab0;
    line-height: 2;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
}

.view-high-opportunity-occupations-2 .chosen-container-multi .form-select {
  border: 2px solid #2e6ab0;
}

.view-high-opportunity-occupations-2 .chosen-container-multi .chosen-choices {
  border: none;
}

.view-high-opportunity-occupations-2 .chosen-container-multi {
  width: 100% !important;
}

.view-high-opportunity-occupations-2 .chosen-container-multi input.chosen-search-input {
  &::placeholder {
    color: $workbc_default_text;
  }
}

.view-high-opportunity-occupations-2 .chosen-container-active .chosen-drop {
  border-color: black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0;
  left: -2px;
  top: 106%;
}

.view-high-opportunity-occupations-2 .chosen-results {
  margin: 0px;
  padding-left: 0px;
}

.view-high-opportunity-occupations-2 .chosen-container .chosen-results .active-result {
  border-radius: 0;
  padding-left: 15px;
}

.view-high-opportunity-occupations-2 .view-footer {
  font-size: 0.875rem;
  line-height: 0.875rem;
}


.view-high-opportunity-occupations-2 .hoo-content {
  padding: 40px 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px #dbdbdb;

  @include media-breakpoint-up(md) {

    .views-field {
      padding: 10px;
    }

    .views-field-title {
      width: 25%;
    }

    .views-field-field-hourly-salary {
      width: 17%;
    }

    .views-field-field-teer,
    .views-field-field-region-openings,
    .views-field-field-occupational-interests {
      width: 15%;
    }

    .views-field-field-teer,
    .views-field-field-occupational-interests {
      text-align: center;
    }

    .views-field-field-region-openings,
    .views-field-field-hourly-salary
     {
      text-align: right;
    }
  }

  @include media-breakpoint-down(md) {

    padding: 0 0 0 0;

    table {
      padding: 0 0 0 0;
      border: 0;
      width: 100%;
      overflow-x: hidden;

      thead {
        display: none;
      }

      tbody td {
        padding: 0 0 0 0;
      }

      td.views-field-title {
        display: block;
        font-weight: normal;
        border: none;
        padding-left: 1.5em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }

      tr {
        padding: 0 0 0 0;
        display: block;
      }

      td.views-field-field-teer,
      td.views-field-field-hourly-salary,
      td.views-field-field-region-openings,
      td.views-field-field-occupational-interests {
        display: block;
        text-align: right;
        border: none;
        padding-bottom: 1.5em;
        padding-left: 0;
        padding-right: 30px;
      }

      td.views-field-field-teer::before,
      td.views-field-field-hourly-salary::before,
      td.views-field-field-region-openings::before,
      td.views-field-field-occupational-interests::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        padding-left: 1.5em;
        font-weight: bold;
      }
    }

    .view-footer, ul.pager {
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 1.5em;
    }

    ul.pager {

      li.pager__item, .btn-primary {
        padding-top: 1em;
        display: block;
        width: 100%;
      }

    }


  }

}

.occupation-interest-tooltip {
  width: 90%;
  label {
    display: inline;
  }

}


  .occupation-interest-tooltip .workbc-tooltip-content {
    @include media-breakpoint-down(sm) {
    left: -80px;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 34%;
      width: 16px;
      height: 12px;
      background-image: url(../assets/images/triangle.svg);
      background-size: 16px 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

}



