.view-high-opportunity-occupations .view-header {
  padding: 20px 20px 0px 20px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations .form--inline {
  display: grid;
  grid-template-columns: 50% 50%;
}


.view-high-opportunity-occupations .view-filters {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}


.view-high-opportunity-occupations .view-filters .form-select {
    border: 2px solid #2e6ab0;
    line-height: 2;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
}

.view-high-opportunity-occupations .chosen-container-multi .form-select {
  border: 2px solid #2e6ab0;
}

.view-high-opportunity-occupations .chosen-container-multi .chosen-choices {
  border: none;
}

.view-high-opportunity-occupations .chosen-container-multi {
  width: 100% !important;
}

.view-high-opportunity-occupations .chosen-container-multi input.chosen-search-input {
  &::placeholder {
    color: $workbc_default_text;
  }
}

.view-high-opportunity-occupations .chosen-container-active .chosen-drop {
  border-color: black;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0;
  left: -2px;
  top: 106%;
}

.view-high-opportunity-occupations .chosen-results {
  margin: 0px;
  padding-left: 0px;
}

.view-high-opportunity-occupations .chosen-container .chosen-results .active-result {
  border-radius: 0;
  padding-left: 15px;
}

.view-high-opportunity-occupations .view-footer {
  font-size: 0.875rem;
  line-height: 0.875rem;
}


.view-high-opportunity-occupations .hoo-content {
  padding: 40px 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px #dbdbdb;

  @include media-breakpoint-up(md) {

    .views-field {
      padding: 10px;
    }

    .views-field-occupation {
      width: 25%;
    }

    .views-field-hourly-wage {
      width: 17%;
    }

    .views-field-typical-education-background,
    .views-field-openings-forecast,
    .views-field-occupational-interest {
      width: 15%;
    }

    .views-field-typical-education-background,
    .views-field-occupational-interest {
      text-align: center;
    }

    .views-field-openings-forecast,
    .views-field-hourly-wage
     {
      text-align: right;
    }
  }

  @include media-breakpoint-down(md) {

    padding: 0 0 0 0;

    table {
      padding: 0 0 0 0;
      border: 0;
      width: 100%;
      overflow-x: hidden;

      thead {
        display: none;
      }

      tbody td {
        padding: 0 0 0 0;
      }

      td.views-field-occupation {
        display: block;
        font-weight: normal;
        border: none;
        padding-left: 1.5em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }

      tr {
        padding: 0 0 0 0;
        display: block;
      }

      td.views-field-typical-education-background,
      td.views-field-hourly-wage,
      td.views-field-openings-forecast,
      td.views-field-occupational-interest {
        display: block;
        text-align: right;
        border: none;
        padding-bottom: 1.5em;
        padding-left: 0;
        padding-right: 30px;
      }

      td.views-field-typical-education-background::before,
      td.views-field-hourly-wage::before,
      td.views-field-openings-forecast::before,
      td.views-field-occupational-interest::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        padding-left: 1.5em;
        font-weight: bold;
      }
    }

    .view-footer, ul.pager {
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 1.5em;
    }

    ul.pager {

      li.pager__item, .btn-primary {
        padding-top: 1em;
        display: block;
        width: 100%;
      }

    }


  }

}

.occupation-interest-tooltip {
  width: 90%;
  label {
    display: inline;
  }

}


.occupation-interest-tooltip .workbc-tooltip-content {
  
  @include media-breakpoint-down(xs) {
    left: -80px;
  }

}
