th#view-industry-profile-job-growth-rate-table-column,
th#view-industry-profile-job-growth-table-column,
th#view-industry-profile-total-employment-table-column {
  padding: 10px 15px 10px 5px;
  text-align: right;
}

.ssot-years {
   white-space: nowrap;
}
