th#view-industry-profile-job-growth-rate-table-column,
th#view-industry-profile-job-growth-table-column,
th#view-industry-profile-total-employment-table-column {
  padding: 30px 5px 30px 5px;
  text-align: center;
}

.ssot-years {
   white-space: nowrap;
}
