.info-tooltip {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/images/info-tooltip-icon.svg);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.info-tooltip-inline {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  vertical-align: baseline;
  padding: 0;
  margin-bottom: -2px;
  margin-left: -2px;
}

.workbc-popover {
  border: 2px solid $workbc_palette_dark_primary;
  background-color: rgba(255, 255, 255, 0.9);
  width: 276px;
  font-size: 1.3125rem;
  color: $workbc_palette_dark_default;

  em {
    font-style: italic;
    font-weight: bold;
  }

  &.popover {
    .popover-header {
      display: none;
    }
  }

  &.bs-popover-start > .popover-arrow::before {
    border-left-color: $workbc_palette_dark_primary;
  }

  &--inline {
    @extend .workbc-popover;
    font-size: 16px;
    font-weight: 400;
  }
}

.profile-information-education--tooltip-content {
  font-size: 1rem;
}
