.lm-months {
  padding: 40px;
  background-color: $workbc_palette_light_secondary;
  margin-bottom: 20px;
}

.lm-months .form-select {
  max-width: 400px;
  border: 2px solid $workbc_palette_dark_secondary;
}

.lm-total-employment-container {
  padding: 30px 10px 10px;
  box-shadow: 0 0 10px rgb(219 219 219);
  margin-bottom: 20px;
}

.lm-change-container {
  padding: 30px 10px 10px;
  box-shadow: 0 0 10px rgb(219 219 219);
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.lm-data-box:first-of-type {
  margin-bottom: 20px;
  border-bottom: 4px solid $workbc_palette_light_secondary;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    border-right: 4px solid $workbc_palette_light_secondary;
    border-bottom: none;
  }
}

.lm-data-container {
  max-width: 240px;
  margin: 0 auto 40px;
}

.lm-table-container {
  margin-bottom: 30px;
  padding: 30px 40px 20px;
  box-shadow: 0 0 10px rgb(219 219 219);

  .table {
    margin-bottom: 40px;

    th {
      vertical-align: middle;
    }

    th:not(:first-child) {
      text-align: right;
    }

    td:not(:first-child) {
      text-align: right;
    }
  }

  .lm-table-age-gender {
    td {
      background-color: $workbc_palette_light_primary;
    }

    td.lm-header {
      font-weight: bold;
      background-color: $workbc_palette_light_secondary;
    }
  }

  img {
    display: block;
    margin: 30px 0;
  }
}

.lm-label-table {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.lm-unemployment-container {
  margin-bottom: 40px;
}

.lm-data-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.lm-source {
  padding-top: 20px;
  font-size: 0.875rem;
  color: #666;
}

.lm-label {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.lm-data-item-value {
  font-weight: 700;
}

.lm-data-value {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: $workbc_palette_dark_tertiary;
}

.lm-has-tooltip {
  position: relative;
  cursor: pointer;
}

.lm-tooltip-content p {
  margin: 0;
  text-align: left;
}
