.lm-months {
  padding: 40px;
  background-color: $workbc_palette_light_secondary;
  margin-bottom: 20px;
}

.lm-months .form-select {
  max-width: 400px;
  border: 2px solid $workbc_palette_dark_secondary;
}

.lm-total-employment-container {
  padding: 30px 10px 10px;
  box-shadow: 0 0 10px rgb(219 219 219);
  margin-bottom: 20px;
}

.lm-change-container {
  padding: 30px 10px 10px;
  box-shadow: 0 0 10px rgb(219 219 219);
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.lm-data-box:first-of-type {
  margin-bottom: 20px;
  border-bottom: 4px solid $workbc_palette_light_secondary;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    border-right: 4px solid $workbc_palette_light_secondary;
    border-bottom: none;
  }
}

.lm-data-container {
  max-width: 240px;
  margin: 0 auto 40px;
}

#employment-industries.lm-table-container {
  padding: 30px 40px 20px;

  @media screen and (max-width: 600px) {
    padding: 0 0 0 0;

    table {
      margin: 0 0 0;
    }

    td {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    td.label {
      display: block;
      padding-top: 1.5em;
    }

    td.data-row {
      padding-bottom: 1.5em;
    }

    tr {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}

.lm-table-container {
  margin-bottom: 30px;
  padding: 30px 40px 20px;
  box-shadow: 0 0 10px rgb(219 219 219);

  .table {
    margin-bottom: 40px;

    th {
      vertical-align: middle;
    }

    th:not(:first-child) {
      text-align: right;
    }

    td.label {
      display: table-cell;
    }

    td.current_age, td.previous_age, td.current_gender, td.previous_gender {
      text-align: right;
    }
  }

  @media screen and (max-width: 600px) {
    table.lm-table-age-gender, table.lm-table-industries {
      padding: 0 0 0 0;
      border: 0;
      width: 100%;
      overflow-x: hidden;

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 20px 0 20px 0;
        position: absolute;
        width: 1px;
      }

      td.label {
        font-weight: normal;
        border: none;
        padding: 0 1.5em 0 1.5em;
      }

      tr {
        padding: 1em 0 1em 0;
        display: block;
      }

      td.label {
        padding-bottom: 10px;
      }

      td.data-row {
        display: block;
        text-align: right;
        border: none;
        padding: 5px 1.5em 0 1.5em;
      }

      td.data-row::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }
    }

    table.lm-table-age-gender {
      td.lm-header {
        display: block;
        background-color: $workbc_dark_theme_background;
        color: $workbc_dark_theme_text
      }

      tr.gender-data-row, tr.age-data-row {
        border-bottom: 3px solid $workbc_light_theme_background_accent;
      }

      :nth-child(3 of tr.age-data-row), :nth-child(2 of tr.gender-data-row) {
        /*
         remove bottom border of last row in each grouping
         */
        border-bottom: none;
      }

    }
  }

  .lm-table-age-gender {
    td {
      background-color: $workbc_palette_light_primary;
    }

    td.lm-header {
      font-weight: bold;
      background-color: $workbc_palette_light_secondary;
    }


  }

  img {
    display: block;
  }
}

.lm-label-table {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.lm-unemployment-container {
  margin-bottom: 40px;
}

.lm-data-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.lm-source {
  padding-top: 20px;
  font-size: 0.875rem;
  color: #333;
}

.lm-label {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.lm-data-item-value {
  font-weight: 700;
}

.lm-data-value {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: $workbc_palette_dark_tertiary;
}

.lm-has-tooltip {
  position: relative;
  cursor: pointer;
}

.lm-tooltip {
  margin-top: 3px;
}

.lm-tooltip-content p {
  margin: 0;
  text-align: left;
}
