.page-node-type-lmo-report-2024 {

  .tab-pane.active {
    @include media-breakpoint-up(lg) {
      display: flex;
      gap: 20px;
    }
  }

  .node-page-content {
    @include media-breakpoint-up(lg) {
      flex: 1 0 80%;
    }
  }

  .page-sidebar {
    @include media-breakpoint-up(lg) {
      flex: 1 0 20%;
    }
  }

  .workbc-profile {
    .profile-content-container {
      .profile-content-main {
        @include media-breakpoint-up(lg) {
          flex: 0 0 100%;
          width: 100%;
          padding-right: 20px;
        }
      }
    }
  }

  .paragraph--type--content-text {
    padding: 0px;

    h2 {
      font-size: 21px;
      font-weight: normal;
      line-height: 2em;
      padding-bottom: 15px;
      margin-bottom: 20px;

      @include gradient-underline;

      @include media-breakpoint-up(sm) {
        font-size: 30px;
        line-height: 1.5em;
      }
    }

    .media--type-image {
      padding-bottom: 15px;
    }

    p {
      
    }
  }

  @include media-breakpoint-up(md) {
    .lmo-mobile {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .lmo-desktop {
      display: none;
    }
  }

  table.lmo-report {

    @include media-breakpoint-down(md) {

      padding: 0 0 0 0;
      border: 0;
      width: 100%;
      overflow-x: hidden;

      thead {
        display: none;
      }

      tbody td {
        padding: 0 0 0 0;
      }

      tbody tr {
        padding: 0 0 0 0;
        display: block;
        &:not(:last-child) {
          margin-bottom: 3px;
          border-bottom: 1px solid black;
        }
      }

      td.lmo-report-region,
      td.lmo-report-teer,
      td.lmo-report-occupation-group,
      td.lmo-report-industry-group {
        display: block;
        font-weight: normal;
        border: none;
        padding-left: 1.5em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
      }

      td.lmo-report-industry,
      td.lmo-report-employment,
      td.lmo-report-growth,
      td.lmo-report-expansion,
      td.lmo-report-replacement,
      td.lmo-report-percentage,
      td.lmo-report-openings {
        display: block;
        text-align: right;
        border: none;
        padding-bottom: 1.5em;
        padding-left: 0 !important;
        padding-right: 30px;
      }

      td.lmo-report-industry::before,
      td.lmo-report-employment::before,
      td.lmo-report-growth::before,
      td.lmo-report-expansion::before,
      td.lmo-report-replacement::before,
      td.lmo-report-percentage::before,
      td.lmo-report-openings::before {
        content: attr(data-label);
        float: left;
        padding-left: 1.5em;
        font-weight: bold;
      }

    }

    .data-align-center {
      text-align: center !important;
    }

    .lmo-report-job-openings-header {
      border-bottom: 2px solid white;
    }    

    .lmo-region-job-openings-footer {
      font-weight: bold;
      background-color: $workbc_palette_dark_tertiary;
      color: $workbc_dark_theme_text;

      td {
        padding: 20px;
      }
    }
  }



  .paragraph--type--lmo-charts-tables {
    position: relative; // begin positional context %card-profile
    margin-bottom: 24px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    padding: $card-padding 40px $card-padding 40px;
    display: flex;
    flex-flow: column nowrap;
    page-break-inside: avoid;
  

    .field__label {
      text-align: center;
      font-size: 18px;
    }

    .lmo-report-table .field__label {
      padding-bottom: 50px;
    }
  }

}
