.megamenu-splash {
    display: flex;
    flex-flow: column nowrap;
    border-left: 3px solid $workbc_light_theme_background_accent;
    padding: 30px;
    row-gap: 15px;
}

.megamenu-splash__image {

}

.megamenu-splash__content {
}

.megamenu-splash__actions {
    .action-link {
        @include link-chevron;

        padding: 0 !important; 
    }
}