#block-workbcrelatedtopicsblock {
    & > h2 {
        width: 100%;
        text-align: center;
    }
}

.swiper-container {
    position: relative;
    padding: 0 40px 40px 40px;

    @include media-breakpoint-up(lg) {
        padding: 0 60px 40px 60px;
    }

    .swiper {
        padding: 10px;
    }
    
    .swiper-wrapper {
        align-content: stretch;
    }

    .swiper-slide {
        height: auto !important;

        .swiper-slide-active {
            scale: 100%;
        }

        &:not(.swiper-slide-active) {
            scale: 90%;
        }
    }
}

// override some Swiper defaults to get smaller nav arrows at mobile size (giving us more Slide space)
:root {
    --swiper-navigation-size: 22px !important;

    @include media-breakpoint-up(lg) {
        --swiper-navigation-size: 44px !important;
    }
}
