.view-search-site-content {
  padding-top: 30px;
}

.view-search-site-content .view-header {
  padding: 0 0 30px;
}

.view-search-site-content .view-empty {
  padding: 30px 0;
}

.view-search-site-content .view-content {
  padding-bottom: 30px;
}

.view-search-site-content .views-row {
  padding: 30px 0;
  border-bottom: 1px solid $workbc_palette_light_tertiary;
}

.search__title {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.node p.search__teaser {
  margin-bottom: 0;
}

.view-search-site-content {

  .search-site-content-results {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #9d9d9d;
  }

  .search-site-content-buttons {
    padding-top: 5px;

    a {
      margin-right: 10px;

      @include btn-border;
      padding: 5px 10px;

      @include media-breakpoint-down(sm) {
        padding: 10px 15px;
      }

      @include media-breakpoint-down(lg) {
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 10px;

      }

      &:hover,
      &:focus {
        background-color: $workbc_palette_dark_primary;
        color: #fff;
        text-decoration: none;
      }
    }

    .selected {
      background-color: $workbc_palette_dark_secondary;
      color: #fff;
      text-decoration: none;
    }

  }


  .form-item-sort-by {
    display:flex;
    align-items: center;
    padding-left: 20px;

    label {
      white-space: nowrap;
      padding-right: 10px
    }

    .form-select {
      border: 2px solid #aaa;
      height: 44px;
    }

    @include media-breakpoint-down(lg) {
      background-image: url("../assets/icons/sortby-mobile.svg");
      background-size: 32px;
      background-repeat: no-repeat;
      background-position: 0% 50%;
      margin-left: 10px !important;

      label {
        display:none;
      }

      #edit-sort-by--2 {
        margin-left: 16px;
      }

    }

  }

  .search-site-content-results {
    padding-top: 35px;
  }
}
