.view-search-site-content .view-header {
  padding: 0 0 30px;
}

.view-search-site-content .view-empty {
  padding: 30px 0;
}

.view-search-site-content .view-content {
  padding-bottom: 30px;
}

.view-search-site-content .views-row {
  padding: 30px 0;
  border-bottom: 1px solid $workbc_palette_light_tertiary;
}

.search__title {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.node p.search__teaser {
  margin-bottom: 0;
}
