.page-left-nav-wrapper {
  height: 100%;
  margin-bottom: $workbc_spacing_gutters;

  @include media-breakpoint-up(lg) {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.page-left-nav {
  @include media-breakpoint-up(lg) {
    position: sticky; // relative to positional context %leftnav
    top: 120px;
  }
}

.page-left-nav__links {
  @include list-reset;
}

.page-left-nav__links li {
  padding-bottom: $workbc_spacing_gutters;
}

.page-left-nav__title {
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }
}

// Offset for Fixed Nav and Title being covered
.page-format--sidenav h2 :target:before {
  @include media-breakpoint-up(lg) {
    content: "";
    display: block;
    height: 110px;
    margin-top: -110px;
  }
}
