.social-sharing-buttons{
	justify-content: right;
	padding-bottom: 0.5em;
	@media (max-width:480px) {
		justify-content: left;
	}
	margin:0px;
	a {
	    display: block;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    background-color: #fff;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: auto 45%;
	    text-decoration: none;

	    &.share-facebook {
	     background-image: url('../assets/images/social-icon-facebook-grey.svg');
	     &:hover {
	     	background-image: url('../assets/images/social-icon-facebook-blue.svg');
	     }
	    }
	    &.share-twitter {
	     background-image: url('../assets/images/social-icon-twitter-grey.svg');
	     &:hover {
		     background-image: url('../assets/images/social-icon-twitter-blue.svg');
		  }
	    }
	    &.share-linkedin {
	     background-image: url('../assets/images/social-icon-linkedin-grey.svg');
	     &:hover {
		     background-image: url('../assets/images/social-icon-linkedin-blue.svg');
		  }
	    }
	    &.share-email {
	     background-image: url('../assets/images/social-icon-email-grey.svg');
	     &:hover {
		     background-image: url('../assets/images/social-icon-email-blue.svg');
		  }
	    }
	    &.share-print {
	     background-image: url('../assets/images/social-icon-printer-grey.svg');
	     &:hover {
		     background-image: url('../assets/images/social-icon-printer-blue.svg');
		  }
	    }
	}

}