.social-sharing {
  padding: 20px 0 5px 0;
  position: relative;
  z-index: 1;
}

.social-sharing-buttons {
  display: flex;
  justify-content: left;
  margin: 0;

  @include media-breakpoint-up(md) {
    justify-content: right;
  }
}

.social-sharing-buttons a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 47%;
  text-decoration: none;

  &.share-facebook {
    background-image: url("../assets/images/social-icon-facebook-grey.svg");

    &:hover {
      background-image: url("../assets/images/social-icon-facebook-blue.svg");
    }
  }

  &.share-twitter {
    background-image: url("../assets/images/social-icon-twitter-grey.svg");

    &:hover {
      background-image: url("../assets/images/social-icon-twitter-blue.svg");
    }
  }

  &.share-linkedin {
    background-image: url("../assets/images/social-icon-linkedin-grey.svg");

    &:hover {
      background-image: url("../assets/images/social-icon-linkedin-blue.svg");
    }
  }

  &.share-email {
    background-image: url("../assets/images/social-icon-email-grey.svg");

    &:hover {
      background-image: url("../assets/images/social-icon-email-blue.svg");
    }
  }

  &.share-print {
    background-image: url("../assets/images/social-icon-printer-grey.svg");

    &:hover {
      background-image: url("../assets/images/social-icon-printer-blue.svg");
    }
  }
}

// Social Share with grey background variation
.page-node-type-region-profile .social-sharing,
.page-node-type-career-profile .social-sharing,
.page-node-type-industry-profile .social-sharing,
.page-node-type-bc-profile .social-sharing,
.plan-careerexplore-careers .social-sharing,
.workbc-centresworkbc-centers .social-sharing {
  background-color: $workbc_palette_light_secondary;
}
