.workbc_centre__hero-image-wrapper {
  @include media-breakpoint-up(lg) {
    height: 400px !important;

    img {
      object-fit: inherit !important;
    }
  }
}

.workbc_centre__hero-content-wrapper {
  @include media-breakpoint-up(lg) {
    width: 675px !important;
    max-width: 700px !important;
  }
}

.workbc_centre__hero-content {
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin: 25px 0 25px 0;
}

.workbc_centre__hero-title h1 {
  
  font-size: 35px !important;

  @include media-breakpoint-up(lg) {
    font-size: 30px !important;
  }
}


.workbc-centre__address {
  flex: 1 0 100%;
  position: relative; // begin positional context %workbc-centre__address
  padding-left: 30px;
  line-height: normal;

  @include media-breakpoint-up(lg) {
    flex-basis: 0;
    font-size: 13px;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .field--name-field-geolocation {
    padding-top: 10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: url(../assets/images/icon-location-blue.svg) center center
      no-repeat;
    background-size: 19px;
  }
}

.workbc-centre__hours {
  flex: 1 0 100%;
  position: relative; // begin positional context %workbc-centre__hours
  padding-left: 30px;
  line-height: normal;

  @include media-breakpoint-up(lg) {
    flex-basis: 0;
    font-size: 13px;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 16px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: url(../assets/images/icon-duration-blue.svg) center center
      no-repeat;
    background-size: 19px;
  }
}

.workbc_centre__alert {
  background-color: rgb(35, 64, 117);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.workbc_centre__alert-header {
  position: relative; // begin positional context %workbc_centre__alert-header
  color: rgb(255, 207, 38);
  font-size: 1.313rem;
  line-height: 36px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 35px;
    height: 35px;
    background: url(../assets/images/icon-warning-yellow.svg) center center
      no-repeat;
    background-size: 35px;
  }
}

.workbc_centre__alert-content {
  margin-top: 30px;
  color: $workbc_dark_theme_text;
}

.workbc_centre__recent-jobs {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
