:root {
  --left-offset: 0px;
  --top-offset: 0px;
}

.workbc-interactive-map {
  border-width: 0px;
  /* left: 0px; */
  /* top: 50px; */
  width: 400px;
  height: 330px;
  /* position: relative; */
  /* display: flex; */
}

#interactive-map-cariboo,
#interactive-map-kootenay,
#interactive-map-mainland_southwest,
#interactive-map-north_coast_nechako,
#interactive-map-northeast,
#interactive-map-thompson_okanagan,
#interactive-map-vancouver_island_coast {
  display: none; 
  visibility: hidden;
}

.map-region {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 330px;  
}

.interactive-map-row-hilite {
  color: red;
  background-color: #009CDE;
}

.map-hot-spot {
  border-width: 0px;
  overflow: hidden;
  background-image: url(../images/transparent.gif);
}

#map-hot-spot-01 {
  position: absolute;
  left: calc(var(--left-offset) + 168px);
  top: calc(var(--top-offset) + 40px);
  width: 110px;
  height: 26px;
}
#map-hot-spot-02 {
  position:absolute;
  left:calc(var(--left-offset) + 170px);
  top:calc(var(--top-offset) + 66px);
  width:108px;
  height:26px;
}
#map-hot-spot-03 {
  position:absolute;
  left:calc(var(--left-offset) + 157px);
  top:calc(var(--top-offset) + 92px);
  width:121px;
  height:35px;
}
#map-hot-spot-04 {
  position:absolute;
  left:calc(var(--left-offset) + 177px);
  top:127px;
  width:101px;
  height:16px;
}
#map-hot-spot-05 {
  position:absolute;
  left:calc(var(--left-offset) + 206px);
  top:143px;
  width:72px;
  height:14px;
}
#map-hot-spot-06 {
  position:absolute;
  left:calc(var(--left-offset) + 231px);
  top:157px;
  width:47px;
  height:14px;
}
#map-hot-spot-07 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 255px);
  top:171px;
  width:25px;
  height:12px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-08 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 216px);
  top:171px;
  width:38px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-09 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 223px);
  top:196px;
  width:57px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-10 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 185px);
  top:223px;
  width:95px;
  height:31px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-11 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 189px);
  top:254px;
  width:50px;
  height:17px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-12 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 239px);
  top:254px;
  width:39px;
  height:14px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-13 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 280px);
  top:218px;
  width:24px;
  height:14px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-14 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 280px);
  top:236px;
  width:48px;
  height:32px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-15 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 249px);
  top:268px;
  width:79px;
  height:20px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-16 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 249px);
  top:288px;
  width:71px;
  height:20px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-17 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 264px);
  top:308px;
  width:37px;
  height:24px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-18 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 328px);
  top:260px;
  width:30px;
  height:17px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-19 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 328px);
  top:248px;
  width:13px;
  height:12px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-20 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 328px);
  top:277px;
  width:13px;
  height:12px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-21 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 301px);
  top:308px;
  width:94px;
  height:20px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-22 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 320px);
  top:289px;
  width:68px;
  height:19px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-23 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 341px);
  top:277px;
  width:35px;
  height:12px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-24 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 63px);
  top:37px;
  width:96px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-25 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 68px);
  top:63px;
  width:100px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-26 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 82px);
  top:89px;
  width:75px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-27 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 92px);
  top:115px;
  width:65px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-28 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 139px);
  top:141px;
  width:38px;
  height:82px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-29 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 103px);
  top:141px;
  width:36px;
  height:85px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-30 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 177px);
  top:143px;
  width:29px;
  height:75px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-31 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 157px);
  top:128px;
  width:20px;
  height:13px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-32 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 206px);
  top:157px;
  width:10px;
  height:59px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-33 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 139px);
  top:226px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-34 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 168px);
  top:271px;
  width:46px;
  height:77px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-35 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 131px);
  top:271px;
  width:37px;
  height:43px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-36 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 214px);
  top:278px;
  width:35px;
  height:56px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
#map-hot-spot-37 {
  border-width:0px;
  position:absolute;
  left:calc(var(--left-offset) + 249px);
  top:308px;
  width:15px;
  height:26px;
  overflow:hidden;
  background-image:url('../images/transparent.gif');
}
