<div class="hero-banner">
  <div class="hero-image-wrapper">
    <div class="hero-image-overlay"></div>
    {{ hero_image }}
  </div>
  <div class="hero-content-wrapper container-lg">
    <h1 class="hero-title">
      {{ title }}
    </h1>
    <div class="hero-content">
      {{ hero_text }}
    </div>
  </div>
</div>
