<div class="hero-home hero-fullwidth-banner">
  <div class="hero-home__image hero-image-wrapper">
    {{ hero_image_fullwidth }}
  </div>
  <div class="hero-home__container container-lg">
    {{ drupal_entity('block', 'searchrecentjobs') }}
  </div>
</div>
