<div class="hero-home">
  <div class="hero-home__image">
    {{ hero_image }}
  </div>
  <div class="hero-home__container container-lg">
    {{ drupal_entity('block', 'searchrecentjobs') }}
    
  </div>
</div>
