<div class="language-toggle" tabindex="0">
  <span>ENGLISH</span>
  <input title="French language" type="checkbox" name="language-toggle-selected" id="language-toggle-selected" />
  <label for="language-toggle-selected"></label>
  <span>FRANÇAIS</span>
</div>
