<div class="nav-main" role="navigation" aria-label="Main Nav">
  <div class="container-lg">
    {{ drupal_entity('block', 'workbcmenublock') }}
  </div>
</div>

{{ attach_library('workbc/submenu-underlay') }}
