/* ============ navbar themes ============ */
@mixin list-reset {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@mixin nav-theme-base {
  @include list-reset;
  
  ul {
    li {
      padding: $workbc_trim_standard_size $workbc_trim_standard_size 0 $workbc_trim_standard_size; // no padding on bottom - it's taken up by the trim-border instead.
      border-bottom: $workbc_trim_standard_size solid transparent; // This is to hold the space the trim takes up on hover, so that content doesn't jump around

      a {
        font-size: 16px;
        text-decoration: none;
    
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.nav-theme-t1-dark {
  @include nav-theme-base;
  background-color: $workbc_dark_background;

  ul {
    li {

      a, a:focus {
        color: $workbc_dark_text;
      }

      &:hover {
        border-color: $workbc_light_trim;
        background-color: $workbc_light_background;

        a, a:focus {
          color: $workbc_light_text;
        }
      }

      &.active {
        border-color: $workbc_light_trim;
        background-color: $workbc_light_background;

        a, a:focus {
          color: $workbc_light_text;
        }
      }
    }
  }
}

.nav-theme-t1-light {
  @include nav-theme-base;
  background-color: $workbc_light_background;

  ul {
    li {
      a, a:focus {
        color: $workbc_light_text;
      }

      &:hover {
        border-color: $workbc_dark_trim;
        background-color: $workbc_dark_background;

        a, a:focus {
          color: $workbc_dark_text;
        }
      }
      &.active {
        border-color: $workbc_dark_trim;
        background-color: $workbc_dark_background;

        a, a:focus {
          color: $workbc_dark_text;
        }
      }
    }
  }
}

.nav-theme-t2 {
  @include nav-theme-base;
  background-color: $workbc_light_background;

  ul {
    li {
      a, a:focus {
        color: $workbc_light_text;
      }

      &:hover {
        border-color: $workbc_dark_trim;
        background-color: $workbc_dark_background;

        a, a:focus {
          color: $workbc_dark_text;
        }
      }
      &.active {
        border-color: $workbc_dark_trim;
        background-color: $workbc_dark_background;

        a, a:focus {
          color: $workbc_dark_text;
        }
      }
    }
  }
}


/* ============ navbar themes .end// ============ */

/* ============ navbar layout  ============ */

nav.navbar {
  position: relative;
  height: 80px;
  padding: 0px;
  margin: 0px;
  z-index: 1;

  &:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 1px;
      z-index: -1;
      box-shadow: 0px 0px 8px 2px #000000;
  }

  .container {
    height: 100%;

    #main_nav,
    #navbarSupportedContent {
      height: 100%;
    }

    ul.nav-t1 {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 0;
      padding: 0;
      margin: 0;

      & > li {
        min-width: 90px;
        flex: 2 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;

        &:hover .submenu-container {
          display: block;
        }

        .submenu-container {
          display: none;
          position: absolute;
          z-index: 1;
          top: 100%;
          right: 0;
          left: 0;

          .submenu {
            width: 100%;
            min-height: 370px;
            background: $workbc_light_background;
            border-bottom: $workbc_trim_thin_size solid $workbc_light_trim_alternate;

            .nav-t2 {
              position: relative;
              width: 50%;

              & > li {
                &:hover .nav-t3 {
                  display: block;
                }
              }

              .nav-t3 {
                position: absolute;
                left: 100%;
                top: 0;
                width: 50%;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

header {
  position: relative;
}


.page-content-container {
  position: relative;
}

.submenu-underlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20,20,20,0.3);
  display: none;

  [data-submenu-target] {
    display: none;
  }
}

/* ============ navbar layout .end// ============ */
