/* ============ navbar themes ============ */
@mixin list-reset {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

// This mixin houses all the basic trim size setup
@mixin nav-theme-base {
  @include list-reset;
  
  ul.nav-t1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    padding: 0;
    margin: 0;

    & > li {
      padding: $workbc_trim_standard_size $workbc_trim_standard_size 0 $workbc_trim_standard_size; 
      border-bottom: $workbc_trim_standard_size solid $workbc_transparent; 
      min-width: 90px;
      flex: 2 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;

      & > a {
        font-size: 16px;
        text-decoration: none;
    
        &:hover {
          text-decoration: none;
        }
      }
  
      &:hover {
        .submenu-container {
          display: block;
        }
      }

      .submenu-container {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        ul.nav-t1 > li:hover & {
          display: block;
        }

        .submenu {
          width: 100%;
          min-height: 370px;
          padding: 6px 0;

          ul.nav-t2 {
            position: relative;
            height: 100%;
            width: 50%;

            & > li {
              border-left: $workbc_trim_standard_size solid $workbc_transparent;
    
              &.has-submenu {
                position: relative;
      
                &:after {
                  position: absolute;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  content: '\e5cc';
                  font-family: 'Material Symbols Outlined';
                  font-weight: normal;
                  font-style: normal;
                  font-size: 24px;  /* Preferred icon size */
                  color: grey;
                }
              }

              &:hover .nav-t3 {
                display: block;
              }

              .nav-t3 {
                position: absolute;
                left: 100%;
                top: 0;
                height: 100%;
                width: 50%;
                display: none;
              }
  
            }
          }
        }
      }
    }
  }
}


.nav-theme-dark {
  @include nav-theme-base;
  background-color: $workbc_dark_theme_background;

  ul.nav-t1 {
    & > li {

      a, a:focus {
        color: $workbc_dark_theme_text;
      }

      &:hover {
        border-color: $workbc_light_theme_trim;
        background-color: $workbc_light_theme_background;

        a, a:focus {
          color: $workbc_light_theme_text;
        }
      }

      &.active {
        border-color: $workbc_light_theme_trim;
        background-color: $workbc_light_theme_background;

        a, a:focus {
          color: $workbc_light_theme_text;
        }
      }

      .submenu {
        background: $workbc_light_theme_background;
        border-bottom: $workbc_trim_thin_size solid $workbc_light_theme_trim_alternate;
      }

      ul.nav-t2 {
        & > li {
          a, a:focus {
            color: $workbc_light_theme_text;
          }
    
          &:hover {
            border-left: $workbc_trim_standard_size solid $workbc_dark_blue;
            background-color: $workbc_light_theme_highlight;
    
            a, a:focus {
              color: $workbc_light_theme_link;
              text-decoration: underline;
            }
          }
    
          &.active {
            border-color: $workbc_dark_theme_trim;
            background-color: $workbc_dark_theme_background;
    
            a, a:focus {
              color: $workbc_dark_theme_text;
            }
          }
        }
      }
    }
  }
}

/* ============ navbar themes .end// ============ */

/* ============ navbar layout  ============ */

nav.navbar { 
  position: relative;
  z-index: 3;
  min-height: 80px;
  padding: 0px;
  margin: 0px;
//  box-shadow: 0px 5px 10px -5px #9D9D9D;

  &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      box-shadow: 0px 0px 8px 2px #000000;
    }

  .container {
    position: relative;
    z-index: -1; 
    height: 100%;

    #main_nav,
    #navbarSupportedContent {
      height: 100%;
    }
  }
}

header {
  position: relative;
}


.page-content-container {
  position: relative;
}

.submenu-underlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20,20,20,0.3);
  display: none;
}

/* ============ navbar layout .end// ============ */
