$workbc_trim_standard_size: 6px;
$workbc_trim_thin_size: 4px;

$workbc_dark_background: #002857;
$workbc_dark_text: #FFFFFF;
$workbc_dark_trim: #E7BF3E;

$workbc_light_background: #FFFFFF;
$workbc_light_text: #333333;
$workbc_light_trim: #E7BF3E;
$workbc_light_trim_alternate: #2E6AB0;
$workbc_alertribbon_background: rgba(121, 29, 95, 1);