<span class="mobile-nav-header">
  <img class="mobile-nav-logo" src="/{{ directory }}/logo.svg" alt="{{ 'logo'|t }}" />
</span>

<div class="mobile-nav__panel">
  {{ include('@responsive_menu/responsive-menu-off-canvas.html.twig') }}

  <div class="mobile-nav__user-nav">
    {{ drupal_block('system_menu_block:account', wrapper=false) }}
  </div>
</div>
