table {
  width: 100%;
}

legend {
  display: none;
}

.table>:not(caption)>*>* {
  padding: 20px;
}

thead {
  background-color: $workbc_dark_theme_background;
  color: $workbc_dark_theme_text;

  th {
    padding: $workbc_spacing_default;
    border-bottom: none;
  }
}

tbody {
  border: none;

  th {
    background-color: $workbc_dark_theme_background;
    color: $workbc_dark_theme_text;
    padding: $workbc_spacing_default;
    border-bottom: none;
  }

  tr {
    &:nth-child(2n) td {
      background-color: $workbc_palette_light_secondary;
    }

    td {
      padding: 20px;
      border-bottom: none;

      &:not(:last-of-type) {
        border-right: 2px solid #d7d7d7;
      }
    }
  }
}

.table > :not(:first-child) {
  border: none;
}

table .data-align-right {
  text-align: right;
}

table .data-align-center {
  text-align: center;
}

@include media-breakpoint-down(sm) {
  div.view-industry-profiles:has(.industry-overview-table) {
    padding: 0 0 0 0;
  }

  table.industry-overview-table {
    margin: 0 0 0;
    width: 100%;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    thead {
      display: none;
    }

    td {
      padding: 0 1.5em 0 1.5em;
      border: none;
      background: $workbc_palette_light_primary;
    }

    td.views-field-title {
      display: block;
      color: $workbc_palette_dark_secondary;
      font-weight: bold;
      border: none;
      padding-bottom: 1em;
    }

    td.views-field-industry-profile-job-growth-rate,
    td.views-field-industry-profile-job-growth,
    td.views-field-industry-profile-total-employment
    {
      display: block;
      text-align: right;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
    }

    td.views-field-industry-profile-job-growth-rate::before,
    td.views-field-industry-profile-job-growth::before,
    td.views-field-industry-profile-total-employment::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }

    td.views-field-industry-profile-job-growth-rate,
    td.views-field-industry-profile-job-growth
    {
      padding-bottom: 1em;
    }

    tr {
      display: block;
      padding-top: 1em;
      padding-bottom: 1em;
      background: $workbc_palette_light_primary;
      margin: 0 0 0 0;
    }

    tr {
      &:nth-child(2n) {
        background-color: $workbc_palette_light_secondary;
      }
    }
  }
}
