.basic-page-header {
    @include underlined-header;
    margin-bottom: $workbc_spacing_default;
}

.no-hero-content-wrapper {
    .no-hero-title h1 {
        @include underlined-header;
        margin-bottom: $workbc_spacing_default;
    }
}

// a lot of these styles probably needs to be expanded to a generic 'basic page' instead of being specific to these three nodes types, but we don't have those other pages in place yet
.node--type-success-story,
.node--type-news,
.node--type-blog {

    .field--name-extra-field-workbc-page-title {
        @include underlined-header;
        margin-bottom: $workbc_spacing_default;
    }

    .field--name-extra-field-workbc-published-on {
        @include text-article-date;
        margin-bottom: $workbc_spacing_default;
    }

    .field--name-field-image,
    .field--name-field-image .field__item,
    .field--name-field-image .field__item img {
        width: 100%;
        margin-bottom: $workbc_spacing_default;
    }
}