.header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);

  @include media-breakpoint-up(lg) {
    box-shadow: none;
  }
}

.header__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;

  @include media-breakpoint-up(lg) {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.header__logo-search-container {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.header__logo-link {
  display: block;
  width: 170px;

  @include media-breakpoint-up(lg) {
    width: 260px;
    align-self: end;
  }

  img {
    display: block;
    width: 100%;
  }
}

.header__search {
  margin-top: 20px;

  @include media-breakpoint-up(lg) {
    margin-left: auto;
    align-self: end;
    min-width: 500px;
  }
}

.header__menu-toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 6px;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
