.nav-user {
  display: none;

  // only display the following if the device
  // screen width larger than "xl" and the device
  // recognizes the hover state
  @include media-breakpoint-up(xl) {
    @media (hover: hover) and (pointer: fine) {
      display: flex;
    }
  }
}

.nav-user .nav-items {
  @include list-reset;
  @include list-flex-inline;

  @include media-breakpoint-up(xl) {
    @media (hover: hover) and (pointer: fine) {
      margin-left: auto;
    }
  }
}

.nav-user .nav-item {
  @include list-item-separator-after-minus-2("|", 6px);
  color: $workbc_palette_dark_default;

  &::nth-last-of-type(-n+2) > a {
    padding-right: 0;
  }
}

.nav-user .nav-link {
  font-size: 0.95rem;
  color: $workbc_palette_dark_default;
}

.nav-user a.dropdown-toggle,
.nav-user ul.dropdown-menu a.nav-link {
  font-weight: bold;
}
