.nav-footer {
  display: block;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.nav-footer .nav-items {
  @include list-reset;
}

.nav-footer .nav-item {
  @include list-item-separator-after("|", 8px);
  display: inline-block;
  color: $workbc_dark_theme_text;
}

.nav-footer .nav-link {
  color: $workbc_dark_theme_text;
  font-size: 0.9rem;

  &:first-of-type {
    padding-left: 0;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}
