body.user-logged-in.toolbar-fixed.mm-wrapper_opening,
body.user-logged-in.toolbar-fixed.mm-wrapper_opened {
  padding-top: 0!important;
}

.responsive-menu-block-wrapper {
  display: none;
}

.mm-page,
.mm-wrapper_background body {
  background-color: #ffffff;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
  padding-left: 0;
  //padding-left: 15rem;
}

.horizontal-menu {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.horizontal-menu > li {
  display: inline-block;
  position: relative;
}

.horizontal-menu > li ul ul {
  left: 13.75em;
  top: 0;
}

.horizontal-menu ul .fly-left ul {
  left: -13.75em;
}

.horizontal-menu > li > a {
  display: block;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.35em;
  padding-left: 1em;
  background-color: #fff;
}

.horizontal-menu > li ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
  width: 13.75em;
  list-style: none;
}

.horizontal-menu li.sfHover > ul,
.horizontal-menu li:hover > ul {
  display: block;
}

.horizontal-menu li li {
  position: relative;
  float: left;
  width: 100%;
}

.horizontal-menu > li > li:hover > ul,
.horizontal-menu > li > li.sfHover > ul {
  display: block;
}

.horizontal-menu > li li > a {
  display: block;
  position: relative;
  padding-top: 0.25em;
  padding-right: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  text-transform: none;
}

.off-canvas-wrapper {
  display: block;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
}

.responsive-menu-toggle-icon {
  box-sizing: border-box;
  display: block;
  width: 44px;
  height: 35px;
  z-index: 4;
  margin-top: 0;
  position: relative;
}

.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon span.label {
  display: block;
  position: absolute;
  font-size: 17px;
  text-transform: uppercase;
  top: 2px;
  left: 40px;
  color: #fff;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: #fff;
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 13px;
  border-radius: 2px;
}

.responsive-menu-toggle-icon:before {
  top: 8px;
}

.responsive-menu-toggle-icon span.icon {
  top: 14px;
}

.responsive-menu-toggle-icon:after {
  top: 20px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  transition: none 0.4s ease-out 0.1s;
  transition-property: -webkit-transform, top, bottom, left, opacity;
  transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  top: 14px;
}

.mm-wrapper_opening .responsive-menu-toggle-icon span.icon {
  left: -25px;
  opacity: 0;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mm-blocker {
  background: rgba(0, 0, 0, 0);
}
.mm-wrapper_opening #mm-blocker {
  background: rgba(0, 0, 0, 0.2);
  transition: background 1s ease 0.3s;
}
.mm-wrapper_opening #page {
  border-left: 1px solid #ccc;
}

.mm-panel a {
  border-bottom: none;
}

ul.menu.mm-listview a.is-active {
  color: inherit;
}

.mm-panel a:hover {
  border: none;
}

ul.menu.mm-listview {
  padding-left: 0;
  margin-left: 0;
}

// CSS above this point is provided by Drupal module "drupal/responsive_menu"
// CSS below this point overrides the boilerplate

html {
  top: auto !important; // Needed for "/account#/personal-setting" to hide the mobile nav and override the styles coming from "api-jobboard.workbc.ca"
}

.mm-menu--offcanvas {
  width: 80vw;
  min-width: 240px;
  max-width: 440px;
}

.mobile-nav-header {
  padding: 15px 20px 40px;
}

.mobile-nav-logo {
  display: block;
  max-width: 125px;
}

.mobile-nav-close {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url(../assets/images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobile-nav-close__label {
  @include visually-hidden;
}

//  Responsive menu overrides
.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background-color: #000;
}

.mm-menu,
.mm-navbar,
.mm-panel {
  background-color: #fff;
  color: #000;
}

.mm-listitem__btn:not(.mm-listitem__text) {
  border-left: none;
}

.mm-listitem:after {
  inset-inline-start: 0;
}

.responsive-menu-toggle-icon span.label {
  @include visually-hidden;
  color:#000;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  width: 26px;
  border-radius: 0;
  left: 10px;
}

.responsive-menu-toggle-icon span.icon {
  top: 15px;
}

.responsive-menu-toggle-icon:after {
  top: 22px;
}

.mobile-nav__user-nav {
  margin-top: 30px;
}

.mobile-nav__user-nav .nav-items {
  @include list-reset;
}

.mm-wrapper--position-left .mm-slideout {
  transform: none;
}


#off-canvas:not(.mm-menu--opened) {
  display: none;
}

#off-canvas.mm-menu--opened {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}


.mm-wrapper--position-left {
  --mm-translate-horizontal: 0;
}
