html {
  overflow-x: hidden; // Needed to prevent horizontal scrolling when off-canvas menu is open.
}

.mm-menu--offcanvas {
  width: 80vw;
  min-width: 240px;
  max-width: 440px;
}

.mobile-nav-header {
  padding: 15px 20px 40px;
}

.mobile-nav-logo {
  display: block;
  max-width: 125px;
}

.mobile-nav-close {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url(../assets/images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobile-nav-close__label {
  @include visually-hidden;
}

//  Responsive menu overrides
.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background-color: #000;
}

.mm-menu,
.mm-navbar,
.mm-panel {
  background-color: #fff;
  color: #000;
}

.mm-listitem__btn:not(.mm-listitem__text) {
  border-left: none;
}

.mm-listitem:after {
  inset-inline-start: 0;
}

.responsive-menu-toggle-icon span.label {
  @include visually-hidden;
  color:#000;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  width: 26px;
  border-radius: 0;
  left: 10px;
}

.responsive-menu-toggle-icon span.icon {
  top: 15px;
}

.responsive-menu-toggle-icon:after {
  top: 22px;
}

.mobile-nav__user-nav {
  margin-top: 30px;
}

.mobile-nav__user-nav .nav-items {
  @include list-reset;
}

.mm-wrapper--position-left .mm-slideout {
  transform: none;
}
